{% extends "base.html" %}


{% block extra_head %}
    {% load staticfiles %}
        <link href="{% static 'css/problem/problem_edit.css' %}" rel="stylesheet" />
{% endblock extra_head %}

{% block title %}
    <title> Lutece | {{prob.title}} </title>
{% endblock title %}

{% block content %}
    <div class ='edit container'>
        <form class="ui form segment">
            
            <h1 class="ui aligned center header">Problem {{ prob.problem_id }} </h1>


            <div id = "title-box" class = "title field aligned center" >
                <label>Title</label>
                <input type = "text" name = "Title" placeholder = "Title" value = {{ prob.title }} maxlength = "32" >
            </div>

            
            <div class="inline fields">
                <div class = 'field'>
                    <i class = 'ui red clock icon'></i>
                </div>
                <div class="field">
                    <input type="text" name="Timelimit" maxlength = "5" value = {{ prob.time_limit }} >
                </div>
                <div class="field">
                    Milliseconds
                </div>
            </div>

            <div class="inline fields">
                <div class = 'field'>
                    <i class = 'ui exclamation circle icon'></i>
                </div>
                <div class="field">
                    <input type="text" name="Memorylimit" maxlength = "4" value = {{ prob.memory_limit }} >
                </div>
                <div class="field">
                    Megabytes
                </div>
            </div>

            <div class ='inline fields'>
                <label>Checker</label>
                <div id = "checker-selection" class="ui fluid selection dropdown">
                    <i class="dropdown icon"></i>
                    <div class="submit language text">{{checker.0}}</div>
                    <div class="menu">
                        {% for it in checker %}
                            <div class="item">{{it}}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="inline fields">
                <label>Visible</label>
                <div id = "visible-checkbox" class="ui toggle checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                </div>
            </div>

            <h4> Content</h4>
            <div class="inline two fields">
                <div class="field">
                    <textarea id = "content-textarea">{{ prob.content }}</textarea>
                </div>
                <div class ='field'>
                    <div id = "content-textarea-render" class="ui fluid container raised segment">
                        {{ prob.content | linebreaks }}
                    </div>
                </div>
            </div>

            <h4> Standard Input</h4>
            <div class="inline two fields">
                <div class="field">
                    <textarea id = "standard_input-textarea">{{ prob.standard_input }}</textarea>
                </div>
                <div class ='field'>
                    <div id = "standard_input-textarea-render" class="ui fluid container raised segment">
                        {{ prob.standard_input | linebreaks }}
                    </div>
                </div>
            </div>

            <h4> Standard Output</h4>
            <div class="inline two fields">
                <div class="field">
                    <textarea id = "standard_output-textarea">{{ prob.standard_output }}</textarea>
                </div>
                <div class ='field'>
                    <div id = "standard_output-textarea-render" class="ui fluid container raised segment">
                        {{ prob.standard_output | linebreaks }}
                    </div>
                </div>
            </div>

            <h4> Constraints</h4>
            <div class="inline two fields">
                <div class="field">
                    <textarea id = "constraints-textarea">{{ prob.constraints }}</textarea>
                </div>
                <div class ='field'>
                    <div id = "constraints-textarea-render" class="ui fluid container raised segment">
                        {{ prob.constraints | linebreaks }}
                    </div>
                </div>
            </div>

            <div id = "resource-box" class = 'four wide field'>
                <label>Resource</label>
                <input type="text" name="Resource" maxlength = "200" >
            </div>

            <div id = "submit" class = 'ui primary button'>Submit</div>
        </form>
    </div>

    <script>
        $(document).ready(function(){
            $('#visible-checkbox').checkbox();

            $('#checker-selection').dropdown();

            $('#content-textarea')[0].addEventListener('input' , function(){
               $('#content-textarea-render')[0].innerText = $(this).val();
               MathJax.Hub.Queue(["Typeset",MathJax.Hub,"content-textarea-render"]);
            });

            $('#standard_input-textarea')[0].addEventListener('input' , function(){
                $('#standard_input-textarea-render')[0].innerText = $(this).val();
                MathJax.Hub.Queue(["Typeset",MathJax.Hub,"standard_input-textarea-render"]);
             });

             $('#standard_output-textarea')[0].addEventListener('input' , function(){
                $('#standard_output-textarea-render')[0].innerText = $(this).val();
                MathJax.Hub.Queue(["Typeset",MathJax.Hub,"standard_output-textarea-render"]);
             });


             $('#constraints-textarea')[0].addEventListener('input' , function(){
                $('#constraints-textarea-render')[0].innerText = $(this).val();
                MathJax.Hub.Queue(["Typeset",MathJax.Hub,"constraints-textarea-render"]);
             });
        });
    </script>
{% endblock content %}