{% extends "base.html" %}


{% block extra_head %}
    {% load staticfiles %}
        <link href="{% static 'css/problem/problem_list.css' %}" rel="stylesheet" />
{% endblock extra_head %}

{% block content%}

<div class = 'problem list'>

    <div class="ui pagination menu">
        <a class="icon item" href = {% url 'problem-list-view' 1 %} ><i class="angle double left icon"></i></a>
        {% for it in page_list %}
            <a class="item" href = {% url 'problem-list-view' it %}  >{{it}}</a>
        {% endfor %}
        <a class="icon item" href = {% url 'problem-list-view' max_page %} ><i class="angle double right icon"></i></a>
    </div>


    <table class = "ui basic fixed selectable padded table bordered" >
        <thread>
            <tr>
                <th>ID</th>
                <th>Title</th>
                {% if user.is_authenticated == True %}
                <th>Status</th>
                {% endif %}
                <th>Try / Solved</th>
                <th>AC Ratio</th>
            </tr>
        </thread>
        <tbody>
                {% for it in problist %}
                <tr>
                    <td>{{it.problem_id}} </td>
                    <td><a href = {% url 'problem-detail-view' it.problem_id %} >{{it.title}}</td>
                    {% if user.is_authenticated == True %}
                        <td><i class="icon green checkmark"></i></td>
                    {% endif %}
                    <td>{{it.try_number}} / {{it.solved_number}} </td>
                    {% if it.try_number == 0 %}
                        <td> 0.00%</td>
                    {% else %}
                        <t> {% widthratio it.solved_number it.try_number 100 %} %</td>
                    {% endif %}
                </tr>
                {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}