
{% extends "base.html" %} 

{% if prob %}
    {% block tile %}
    <title>Lutece | {{prob.title}}</title>
    {% endblock %}
{% endif %}

{% block content %}

<style type="text/css">
    .ui.problem.title.main.text.container{
        padding: 2.5cm 5cm 0.32cm 0.73cm;
    }

    .ui.problem.content.main.text.container{
        padding: 0.5cm 1.5cm 0.12cm 0.00cm;
    }

    .problem.detail.title {
        text-align: center;
        font-family: 'Courier New', Courier, monospace
    }

    .problem.detail.limit {
        margin-top: 4px;
        text-align: center;
        font-family: 'Courier New', Courier, monospace

    }

    .ui.submit.solution.button {
        margin-top: 15px;
        position:relative;left:155px;

    }

    .ui.status.button {
        margin-top: 5px;
        position:relative;left:155px;
    }

    .problem.detail.content{
        position:relative;left:-25px;
        text-align: left;
        line-height: 1.4 !important;
        font-size: 15px !important;
        font-family: 'Courier New', Courier, monospace
    }

    .ui.submit.modal{
        height: 712px;
        width: 712px;
    }

    .solution.textarea{
        max-height:580px !important;
        height: 580px !important;
        line-height: 1.9 !important;
        font-size: 15px !important;
        font-family: 'Courier New', Courier, monospace
    }

    .modal_submit_solution.button{
        position:relative;left:320px;
        margin-top:10px;
    }

    .ui.form.textarea.window{
        box-shadow:0 1px 0.12px rgba(0,0,0,.5);
    }

</style>

{% if prob %}
<div class="ui problem title main text container">
        <h1 class = 'ui header problem detail title'>{{prob.title}}</h1>
        <div class = 'problem detail limit'><b>TimeLimit: {{prob.time_limit}} Milliseconds</b></div>
        <div class = 'problem detail limit'><b>MemoryLimit: {{prob.memory_limit}} Megabytes</b></div> 
        <div class=  'ui basic primary submit solution button'><b>Submit</b></div>       
        <div class=  'ui basic secondary status button'><b>Status</b></div> 
</div>
<div class ='ui problem content main text container'>
    <p class = 'problem detail content'>{{prob.content}}</p>
</div>


<div class="ui submit modal">
        <div class="ui hidden divider"></div>
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <div class="ui vertically divided grid">
                    <div class="one column row">
                        <div class="column header show">
                            <b>Submit</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui form textarea window">
            <div>
                <textarea class = 'solution textarea'>
#include <bits/stdc++.h>

using namespace std;

int main( int argc , char * argv[] ){
    printf( "Hello Lutece!" );
    return 0;
}</textarea>
            </div>
        </div>
        <div id = 'submit_solution_button' class = 'ui large secondary modal_submit_solution button'><b>Submit</b></div>
</div>


<!--load SUPPORT_LANGUAGE_LIST %}

    <code id="some-code" class="language-cpp">#include<bits/stdc++.h></code>
-->
<script>
    $('.submit.button').click(function () {
        $('.ui.submit.modal').modal('show');
    });


    $('#submit_solution_button').click(function(){
        alert("gao qi");
        var code = "var data = 1;";
        var problemid = '{{prob.problem_id}}';
        $('.solution.textarea').text(html);
    });
</script>

{% endif %}
{% endblock %}