{% extends "base.html" %}


{% block extra_head %}
    {% load staticfiles %}
        <link href="{% static 'css/problem/problem_edit.css' %}" rel="stylesheet" />
{% endblock extra_head %}

{% block title %}
    <title> Lutece | {{prob.title}} </title>
{% endblock title %}

{% block content %}
    <div class ='edit container'>
        <form id = 'edit-form' class="ui form segment">
            
            <h1 class="ui aligned center header">Problem {{ prob.problem_id }} </h1>


            <div class = "inline title field aligned center" >
                <label>Title</label>
                <input id = 'title-input' type = "text" name = "title"  value = {{ prob.title }} maxlength = "32" >
            </div>

            
            <div class="inline fields">
                <div class = 'field'>
                    <i class = 'ui red clock icon'></i>
                </div>
                <div class="field">
                    <input id = 'timelimit-input' type="number" name="Timelimit" maxlength = "5" value = {{ prob.time_limit }} >
                </div>
                <div class="field">
                    Milliseconds
                </div>
            </div>

            <div class="inline fields">
                <div class = 'field'>
                    <i class = 'ui exclamation circle icon'></i>
                </div>
                <div class="field">
                    <input id = 'memorylimit-input' type="number" name="Memorylimit" maxlength = "4" value = {{ prob.memory_limit }} >
                </div>
                <div class="field">
                    Megabytes
                </div>
            </div>

            <div class ='inline fields'>
                <label>Checker</label>
                <div id = "checker-selection" class="ui fluid selection dropdown">
                    <i class="dropdown icon"></i>
                    <div class="submit language text">{{prob.checker}}</div>
                    <div class="menu">
                        {% for it in checker %}
                            <div class="item">{{it}}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="inline fields">
                <label>Visible</label>
                <div id = "visible-checkbox" class="ui toggle checkbox">
                    <input type="checkbox" tabindex="0" class="hidden">
                </div>
            </div>

            <h4> Content</h4>
            <div class="inline two fields">
                <div class="field">
                    <textarea id = "content-textarea">{{ prob.content }}</textarea>
                </div>
                <div class ='field'>
                    <div id = "content-textarea-render" class="ui fluid container raised segment">
                        {{ prob.content | linebreaks }}
                    </div>
                </div>
            </div>

            <h4> Standard Input</h4>
            <div class="inline two fields">
                <div class="field">
                    <textarea id = "standard_input-textarea">{{ prob.standard_input }}</textarea>
                </div>
                <div class ='field'>
                    <div id = "standard_input-textarea-render" class="ui fluid container raised segment">
                        {{ prob.standard_input | linebreaks }}
                    </div>
                </div>
            </div>

            <h4> Standard Output</h4>
            <div class="inline two fields">
                <div class="field">
                    <textarea id = "standard_output-textarea">{{ prob.standard_output }}</textarea>
                </div>
                <div class ='field'>
                    <div id = "standard_output-textarea-render" class="ui fluid container raised segment">
                        {{ prob.standard_output | linebreaks }}
                    </div>
                </div>
            </div>

            <h4> Constraints</h4>
            <div class="inline two fields">
                <div class="field">
                    <textarea id = "constraints-textarea">{{ prob.constraints }}</textarea>
                </div>
                <div class ='field'>
                    <div id = "constraints-textarea-render" class="ui fluid container raised segment">
                        {{ prob.constraints | linebreaks }}
                    </div>
                </div>
            </div>

            <div class = 'seven wide field'>
                <label>Resource</label>
                <input id = "resource" type="text" name="resource" maxlength = "200" >
            </div>

            <div id = "submit-form" class = 'ui primary button'>Submit</div>

            <div id = "form-error-msg" class="ui negative message transition hidden"></div>
        </form>
    </div>

    <script>

        $(document).ready(function(){

            $('#visible-checkbox').checkbox();

            '{%  if prob.visible == True %}'
                $('#visible-checkbox').checkbox( 'set checked' );
            '{% endif %}'

            $('#checker-selection').dropdown();

            $('#content-textarea')[0].addEventListener('input' , function(){
               $('#content-textarea-render')[0].innerText = $(this).val();
               MathJax.Hub.Queue(["Typeset",MathJax.Hub,"content-textarea-render"]);
            });

            $('#standard_input-textarea')[0].addEventListener('input' , function(){
                $('#standard_input-textarea-render')[0].innerText = $(this).val();
                MathJax.Hub.Queue(["Typeset",MathJax.Hub,"standard_input-textarea-render"]);
             });

             $('#standard_output-textarea')[0].addEventListener('input' , function(){
                $('#standard_output-textarea-render')[0].innerText = $(this).val();
                MathJax.Hub.Queue(["Typeset",MathJax.Hub,"standard_output-textarea-render"]);
             });

             $('#constraints-textarea')[0].addEventListener('input' , function(){
                $('#constraints-textarea-render')[0].innerText = $(this).val();
                MathJax.Hub.Queue(["Typeset",MathJax.Hub,"constraints-textarea-render"]);
             });

            function get_error_msgText( errlist ){
                errlist = eval( errlist );
                var ret = '';
                for(var i = 0 ; i < errlist.length ; ++ i)
                    ret = ret + '<li>' + errlist[i] + '</li>';
                return '<ul class=\"list\">' + ret + '</ul>';
            }

             $('#submit-form').click(function(){
                var title = $('#title-input').val();
                var timelimit = $('#timelimit-input').val();
                var memorylimit = $('#memorylimit-input').val();
                var checker = $("#checker-selection")[0].innerText.split(":")[0];
                var visible = $('#visible-checkbox').hasClass('checked');
                var content = $('#content-textarea').val();
                var standard_input = $('#standard_input-textarea').val();
                var standard_output = $('#standard_output-textarea').val();
                var constraints = $('#constraints-textarea').val();
                var resource = $('#resource').val();
                $(this)
                    .addClass( 'loading disabled' )
                ;
                $.ajaxSetup({
                    data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
                });
                $.post(
                    '{% url "problem-update-view" prob.problem_id %}',
                    {
                        'title' : title,
                        'timelimit' : timelimit,
                        'memorylimit' : memorylimit,
                        'checker' : checker,
                        'visible' : visible,
                        'content' : content,
                        'standard_input' : standard_input,
                        'standard_output' : standard_output,
                        'constraints' : constraints,
                        'resource' : resource
                    },
                    function(data,status){
                        if( status == 'success'  && data.update_status == true ){
                            window.location = '{% url "problem-detail-view" prob.problem_id %} ';
                        }
                        $('#submit-form')
                            .removeClass( 'loading disabled primary' )
                            .addClass('red')
                        ;
                        $('#form-error-msg')
                            .empty()
                            .removeClass( 'hidden' )
                            .append(get_error_msgText( data.error_list ))
                        ;
                    }
                )
             });
        });
    </script>
{% endblock content %}