{% extends "base.html" %} 
{% block content %}

<table class = "ui celled table" margin:10px 5px 15px 20px >
    <thread>
        <tr>
            <th>Title</th>
            <th>Try</th>
            <th>Solved</th>
        </tr>
    </thread>
    <tbody>
    {% if problist %}
        {% for it in problist %}
        <tr>
            <td>{{it.title}}</td>
            <td>{{it.tryNumber}}</td>
            <td>{{it.solvedNumber}}</td>
        </tr>
    {% endfor %}
    </tbody>
{% endif %}
{% endblock %}