{% extends "base.html" %} 
{% block content %}

<style type="text/css">
    .ui.padding.table{
        padding: 2.5cm 5cm 22.5cm 0.73cm;
        display: none;
    }

    .problem.list.menu{
        text-align: center;
        font-size: 1.37em;
        font-weight: normal;
    }

    .problem.list.thread.title{
        font-family: 'Courier New', Courier, monospace;        
        text-align: center;
    }

    .problem.list.thread.another{
        font-family: 'Courier New', Courier, monospace;        
        text-align: center;
    }

</style>

<table class = "ui problem padded padding table" >
    <thread>
        <div class = 'problem list menu'>
            <tr>
                <th class = 'problem list thread title'>ID</th>
                <th class = 'problem list thread title'>Title</th>
                {% if user.is_authenticated == True %}
                    <th class = 'problem list thread title'>Status</th>
                {% endif %}
                <th class = 'problem list thread title'>Try / Solved</th>
                <th class = 'problem list thread title'>AC Ratio</th>
            </tr>
        </div>
    </thread>

    <tbody>
        {% for it in problist %}
        <tr>
            <td class = 'problem list thread another'>{{it.problem_id}} </td>
            <td class = 'problem list thread another' ><a href = {% url 'problem-detail-view' it.problem_id %} >{{it.title}}</td>
            {% if user.is_authenticated == True %}
                <td class = 'problem list thread another' ><i class="icon green checkmark"></i></td>
            {% endif %}
            <td class = 'problem list thread another'>{{it.try_number}} / {{it.solved_number}} </td>
            {% if it.try_number == 0 %}
                <td class = 'problem list thread another'> 0.00%</td>
            {% else %}
                <tdclass = 'problem list thread another'> {% widthratio it.solved_number it.try_number 100 %} %</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $('.ui.problem.padding.table').css('display','table');
</script>




{% endblock %}