{% extends "base.html" %}

{% block extra_head %}
    {% load staticfiles %}
        <link href="{% static 'css/problem/problem_detail.css' %}" rel="stylesheet" />
        <script src="{% static 'script/problem/problem_detail.js'%}"></script>
{% endblock extra_head %}

{% block title %}
<title>Lutece | {{prob.title}}</title>
{% endblock title %}

{% block content %}
    <div class = 'problem detail'>
        <div class = 'summary'>
            <h1 class = 'ui header'>{{prob.title}}</h1>
            <div class = 'limit'><b>TimeLimit: {{prob.time_limit}} Milliseconds</b></div>
            <div class = 'limit'><b>MemoryLimit: {{prob.memory_limit}} Megabytes</b></div>
            <div class = 'menu'>
                <div class = 'ui basic primary submit button'><b>Submit</b></div>
                <div class = 'ui basic secondary status button'><b>Status</b></div>
            </div>
        </div>
        <div class = 'body'>
            <p class = 'content'>{{prob.content}}</p>
            <h2 class= 'ui header'>Standard Input</h2>
            <p class = 'content'>{{prob.standard_input}}</p>
            <h2 class= 'ui header'>Standard Output</h2>
            <p class = 'content'>{{prob.standard_output}}</p>
            {% if  prob.constraints|length > 0  %}
                <h2 class='ui header'>Constraints</h2>
                <p class='content'>{{prob.constraints}}</p>
            {% endif%}
            <h2 class= 'ui header'>Sample</h2>
                <table class="ui table" >
                        <thead>
                            <tr>
                                <th>Input</th>
                                <th>Output</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for it in sample %}
                                <tr>
                                    <td>{{it.0}}</td>
                                    <td>{{it.1}}</td>
                                </tr>
                            {% endfor%}
                        </tbody>
                </table>


            {% if  prob.sample_explanation|length > 0  %}
                <h2 class='ui header'>Note</h2>
                <p class='content'>{{prob.sample_explanation}}</p>
            {% endif%}

            {% if  prob.resource|length > 0  %}
                <h2 class='ui header'>Resource</h2>
                <p class='content'>{{prob.resource}}</p>
            {% endif%}
        </div>
    </div>

{% endblock content %}