{% extends "base.html" %} 
{% block content %}

<style type="text/css">
    .ui.padding.table{
        padding: 2.5cm 5cm 22.5cm 0.73cm;
        display: none;
    }

    .status.list.menu{
        text-align: center;
        font-size: 1.37em;
        font-weight: normal;
    }

    .status.list.thread.title{
        text-align: center;
    }

    .status.list.thread.another{
        text-align: center;
    }

</style>

<table class = "ui status selectable padded padding table" >
    <thread>
        <div class = 'status list menu'>
            <tr>
                <th class = 'ui one wide status list thread title'>ID</th>
                <th class = 'ui one wide status list thread title'>User</th>                
                <th class = 'ui one wide status list thread title'>Problem</th>
                <th class = 'ui two wide status list thread title'>Verdict</th>
                <th class = 'ui one wide status list thread title'>Time</th>
                <th class = 'ui one wide status list thread title'>Memory</th>
                <th class = 'ui one wide status list thread title'>Language</th>
                <th class = 'ui one wide status list thread title'>Length</th>
                <th class = 'ui two wide status list thread title'>Submit Time</th>
            </tr>
        </div>
    </thread>

    {% if statuslist %}
        <tbody>
            {% for it in statuslist %}
            <tr>
                <td class = 'status list thread another'>{{it.submission_id}} </td>
                <td class = 'status list thread another'>{{it.user.display_name}} </td>                
                <td class = 'status list thread another'>{{it.problem.title}} </td>
                <td class = 'status list thread another'>{{it.judge_status}} </td>
                <td class = 'status list thread another'><i class = 'ui help icon'></i></td>
                <td class = 'status list thread another'><i class = 'ui help icon'></i></td>
                <td class = 'status list thread another'>{{it.language}}</td>  
                <td class = 'status list thread another'>{{it.code | length}} B</td>  
                <td class = 'status list thread another'>{{it.submit_time}}</td>  
            </tr>
            {% endfor %}
        </tbody>
    {% endif %}
</table>

<script>
    $('.ui.status.padding.table').css('display','table');
</script>




{% endblock %}