# The ip address that rabbitmq server 
RABBITMQ_IP = '127.0.0.1'

# The port of rabbitmq
RABBITMQ_PORT = '5672'

# The user of rabbitmp user
RABBITMQ_USER = 'task_user'

# The password of rabbitmq user
RABBITMQ_PWD = ''

# The vhost of rabbitmq
RABBITMQ_VHOST = 'judger_host'

# DO NOT CHANGE THIS
TASK_QUEUE = 'task'
RESULT_QUEUE = 'result'