{% extends 'base.html' %}}
{% block content %}

<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    xianyu 
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="../images/avatar/large/chris.jpg">
    </div>
    <div class="description">
      <div class="ui header">kan kan ni de tou fa.</div>
    <p>我们从<a href="https://www.gravatar.com" target="_blank">gravatar</a>抓取的下面这些图片，图像与你注册的邮箱地址相关.</p>
      <p>可以使用这张照片吗?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      不可以
    </div>
    <div class="ui positive right labeled icon button">
      是的，那是我
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

<script>
    $('.ui.modal').modal('show');
</script>

{% endblock %}