{% extends 'base.html' %}}
{% block content %}

<div class="ui modal" >
  <i class="close icon"></i>
  <div class="header">
    LOG IN
  </div>
  <div class="ui left icon input">
      <input placeholder="Username" type="text">
      <i class="user icon"></i>
  </div>
  <div class="ui hidden divider"></div>
  <div class="ui left icon input">
      <input placeholder="Password" type="text">
      <i class="lock icon"></i>
  </div>
  <div class="ui hidden divider"></div>
  <div class="ui centered positive icon button">Sign In</div>
</div>

<script>
    $('.ui.modal')
    .modal('setting', 'closable', false)
    .modal('show')
  ;
</script>

{% endblock %}