{% extends 'base.html' %}}
{% block content %}

<style type="text/css">
.ui.signin.modal {
  width: 450px;
  height: 320px;
}

.ui.active.custom.modal {
  margin-left: 0px;
}

.header.show{
  text-align: center;
  font-size: 1.47em;
  font-weight: normal;
}

</style>


<div class="ui signin modal">
  <div class="ui hidden divider"></div>
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <div class="ui vertically divided grid">
       <div class="one column row">
         <div class="column header show"> <b>LOG IN</b> </div>
          <!--<div class="ui vertical divider"></div>
         <div class="column header show"> SIGN UP </div>-->
       </div>
     </div>
     
      <form class="ui large form">
        <div class="ui segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="username" name="username" placeholder="Username">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password">
            </div>
          </div>
          <div class="ui fluid large primary submit button" action = "/user/login">Login</div>
        </div>
      </form>

      <div class="ui message">
         No account?
        <a href="#"> Sign Up</a>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
      $('.modal')
      .modal('show')
      ;
  });
</script>

{% endblock %}