<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <meta content="width=1300, initial-scale=1 user-scalable=yes" name="viewport" />
  {% block tile %}
  <title>Lutece</title>
  {% endblock %}

  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
  <script src="{% static 'jquery/dist/jquery.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'semantic/dist/semantic.min.js'%}"></script>
</head>

  {% block top_menu%}
  <div class="ui borderless huge menu">
    <a class="header item">Lutece</a>
    <div class="ui container">
    <a class="item" href = {% url 'home' %} >Home</a>
    <a class="item" href = {% url 'problem_listView' 1 %} >Problem</a>
    <a class="item" >Contest</a>
    <div class="right menu">
        <div class="item">
        <a class="ui primary button" href = {% url 'user_signin' %} >Sign in</a>
        </div>
    </div>
    </div>
  </div>
{% endblock %}
{% block content %}
{% endblock %}
</html>