<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    .ui{
      font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif      
    }
  </style>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <meta content="width=1300, initial-scale=1 user-scalable=yes" name="viewport" />
  {% block tile %}
  <title>Lutece</title>
  {% endblock %}

  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
  <link href="{% static 'prism/dist/prism.css' %}" rel="stylesheet" />
  <script src="{% static 'prism/dist/prism.js'%}"></script>
  <script src="{% static 'jquery/dist/jquery.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'semantic/dist/semantic.min.js'%}"></script>
</head>

{% include 'error.html' %}
<script>
    function CallErrorModal( Title , Content ) {
        $("#ErrorModalHeader")["0"].innerHTML = '<i class="red close icon"> ' + Title + '</i>';
        $("#ErrorModalContent")["0"].innerHTML = '<p>' + Content + '</p>';
        $('#ErrorModal').modal('show');
    }
</script>

{% include 'top_menu.html' %}

{% block content %}
{% endblock %}

</html>