{% block sign_in %}
<style type="text/css">
    .ui.signin.modal {
        width: 421px;
    }

    .ui.signup.modal {
        width: 421px;
    }

    .ui.active.custom.modal {
        margin-left: 0px;
    }

    .header.show {
        text-align: center;
        font-size: 1.37em;
        font-weight: normal;
    }
</style>

<div class="ui signin modal">
    <div class="ui hidden divider"></div>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <div class="ui vertically divided grid">
                <div class="one column row">
                    <div class="column header show">
                        <b>LOG IN</b>
                    </div>
                </div>
            </div>

            <form class="ui large login form">
                <div class="ui segment">
                    <div class="field">
                        <div class="ui left icon username input">
                            <i class="user icon"></i>
                            <input id="usrinput_login" type="username" name="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon password input">
                            <i class="lock icon"></i>
                            <input id="pwdinput_login" type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="ui fluid large primary login button">Login</div>
                </div>
            </form>

            <div id="error_msg_box_login" class="ui negative message transition hidden">

                <div class="header">
                    Your username or password is incorrect.
                </div>
            </div>

            <div class="ui message">
                No account?
                <div class="ui basic medium callsignup button"><b><i class="add user icon"></i></b> Sign Up</div>
            </div>

        </div>
    </div>
</div>

<div class="ui signup modal">
    <div class="ui hidden divider"></div>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <div class="ui vertically divided grid">
                <div class="one column row">
                    <div class="column header show">
                        <b>SIGN UP</b>
                    </div>
                </div>
            </div>

            <form class="ui large signup form">
                <div class="ui segment">
                    <div class="field">
                        <div class="ui left icon username input">
                            <i class="user icon"></i>
                            <input id="usrinput_signup" type="username" name="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon password input">
                            <i class="lock icon"></i>
                            <input id="pwdinput_signup" type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon email input">
                            <i class="mail outline icon"></i>
                            <input id="emailinput_signup" type="email" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon displayname input">
                            <i class="css3 icon"></i>
                            <input id="displaynameinput_signup" type="displayname" name="displayname" placeholder="Displayname">
                        </div>
                    </div>
                    <div class="ui fluid large primary signup button">Register</div>
                </div>
            </form>

            <div id="error_msg_box_signup" class="ui negative message transition hidden">
            </div>

        </div>
    </div>
</div>


<script>

    /*
    <div class="ui error message">
        <i class="close icon"></i>
        <div class="header">
            您提交的一些错误
        </div>
        <ul class="list">
            <li>你的密码需要包含至少一个大写和小写字母</li>
            <li>你需要选择你所在的国家</li>
        </ul>
    </div>
    */

    function get_error_msgText( errlist ){
        errlist = eval( errlist );
        var ret = '';
        for(var i = 0 ; i < errlist.length ; ++ i)
            ret = ret + '<li>' + errlist[i] + '</li>';
        return '<ul class=\"list\">' + ret + '</ul>';
    }

    $('.callsignup.button').click(function(){
        $('.ui.signup.modal').modal('show');
    });
    // Login
    $('.login.button').click(function () {
        var username = $("#usrinput_login")["0"].value;
        var password = $("#pwdinput_login")["0"].value;
        if ($('.login.button').hasClass('red'))
            $('.login.button').removeClass('red');
        if (!$('.login.button').hasClass('primary'))
            $('.login.button').addClass('primary');
        if ($('#error_msg_box_login').hasClass('hidden') == false)
            $('#error_msg_box_login').addClass('hidden');
        $('.login.button').addClass('loading');
        $('.login.button').addClass('disabled');
        $.ajaxSetup({
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        $.post(
            '{% url "user-login" %}',
            {
                'username': username,
                'password': password
            },
            function (data, status) {
                $('.login.button').removeClass('loading');
                $('.login.button').removeClass('disabled');
                if (status == 'success' && data.login_status == true) {
                    location.reload();
                    return;
                }
                $('#error_msg_box_login').removeClass('hidden');
                $('.login.button').removeClass('primary');
                $('.login.button').addClass('red');
            }
        );
    });
    // Sign Up
    $('.signup.button').click(function () {
        var username = $("#usrinput_signup")["0"].value;
        var password = $("#pwdinput_signup")["0"].value;
        var email = $("#emailinput_signup")["0"].value;
        var displayname = $("#displaynameinput_signup")["0"].value;
        if ($('.signup.button').hasClass('red'))
            $('.signup.button').removeClass('red');
        if (!$('.signup.button').hasClass('primary'))
            $('.signup.button').addClass('primary');
        if ($('#error_msg_box_signup').hasClass('hidden') == false)
            $('#error_msg_box_signup').addClass('hidden');
        $('.signup.button').addClass('loading');
        $('.signup.button').addClass('disabled');
        $.ajaxSetup({
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        $.post(
            '{% url "user-signup" %}',
            {
                'username': username,
                'password': password,
                'email' : email,
                'displayname' : displayname
            },
            function (data, status) {
                $('.signup.button').removeClass('loading');
                $('.signup.button').removeClass('disabled');
                if (status == 'success' && data.signup_status == true) {
                    location.reload();
                    return;
                }
                var report = get_error_msgText( data.error_msg );
                $('#error_msg_box_signup').empty();
                $('#error_msg_box_signup').append(report);
                $('#error_msg_box_signup').removeClass('hidden');
                $('.signup.button').removeClass('primary');
                $('.signup.button').addClass('red');
            }
        );
    });
</script> 
{% endblock %}