{% block Sign_in %}
<style type="text/css">
  .ui.signin.modal {
    width: 450px;
    height: 320px;
  }
  
  .ui.active.custom.modal {
    margin-left: 0px;
  }
  
  .header.show{
    text-align: center;
    font-size: 1.37em;
    font-weight: normal;
  }
</style>
  
  <div class="ui signin modal">
    <div class="ui hidden divider"></div>
    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <div class="ui vertically divided grid">
         <div class="one column row">
           <div class="column header show"> <b>LOG IN</b> </div>
            <!--<div class="ui vertical divider"></div>
           <div class="column header show"> SIGN UP </div>-->
         </div>
       </div>
       
        <form class="ui large login form">
          <div class="ui segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input id = "usrinput" type="username" name="username" placeholder="Username">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input id = "pwdinput" type="password" name="password" placeholder="Password">
              </div>
            </div>
            <div class="ui fluid large primary login button">Login</div>
          </div>
        </form>
  
        <div class="ui message">
           No account?
          <a href="#"> Sign Up</a>
        </div>
      </div>
    </div>
  </div>
  
  <script>
    $('.ui.login.form')
      .form({
        fields: {
          username : 'empty',
          password : ['minLength[6]', 'empty'],
        }
      })
    ;
    $('.login.button').click(function(){
      var username = $("#usrinput")["0"].value;
      var password = $("#pwdinput")["0"].value;
      $('.login.button').addClass( 'loading' );
      $('.login.button').addClass( 'disabled' );
      $.post(
        '{% url "user_login" %}',
        {
          'username' : username,
          'password' : password
        }
      );
    });
  </script>
{% endblock %}

{% block top_menu%}
<div class="ui borderless huge menu">
  <a class="header item">Lutece</a>
  <div class="ui container">
  <a class="item" href = {% url 'home' %} >Home</a>
  <a class="item" href = {% url 'problem_listView' 1 %} >Problem</a>
  <a class="item" >Contest</a>
  <div class="right menu">
      <div class="item">
      <div class="ui primary signin button"><b><i class="sign in icon"></i></b>Sign in</div>
      </div>
  </div>
  </div>
</div>

<script>
    $(document).ready(function(){
      $(".signin.button").click(function(){
        $('.signin.modal')
        .modal('show')
        ;
      });
    });
</script>
{% endblock %}