<div class = 'ui discussion modal' style = 'width:800px;' id = 'disscussion-modal'>
    <div class = 'header' style = 'text-align:center;' > 
        <i class = 'comments icon'></i> Discussion 
        {% if not prob.discussionvisible or not prob.visible %}
            <i class = 'low vision icon'></i>
        {% endif %}
    </div>
    <div class = 'scrolling content' style = 'max-height:720px;' >
        <div class = 'ui active loading tab' style = 'height:auto;' id = 'discussion-detail' >
            <div id = 'discussion-content' style = margin-top:15px; ></div>
        </div>
    </div>

    <script>
        var Problem_Discussion = {
            _modal : null,
            _detail : null,
            _running : null,
            _cache : null,
            _content : null,
            _url : null,

            init : function(url){
                this._modal = $('#disscussion-modal');
                this._detail = $('#discussion-detail');
                this._content = $('#discussion-content');
                this._running = false;
                this._cache = '';
                this._url = url;
            },

            display: function(){
                if( this._cache.length > 0 ){
                    this._content.html( this._cache );
                    this._detail.removeClass( 'loading' );
                }
            },

            refresh: function(){
                if( this._running == true ) return;
                this._cache = '';
                this.request( this._url );
            },

            request: function(){
                this._modal.modal( 'show' );
                this._detail.addClass( 'loading' );
                if( this._cache.length > 0 ){
                    this.display();
                    return;
                }
                this._running = true;
                let obj = this;
                $.get(
                    this._url,
                    function( data ){
                        obj._running = false;
                        obj._cache = data;
                        obj.display();
                    }
                )
            }


        };
    </script>
</div>