@font-face {
    font-family: 'UbuntuMono-R';
    src: url('/static/font/UbuntuMono-R.ttf');
    font-weight: normal;    
    font-style: normal;
}

.edit.container textarea,input,#checker-selection{
    font-family: 'Inconsolata';
    line-height: 1.2;
    font-size: 16px;
}


.edit.container #content-textarea{
    max-height: 100%;
}

.edit.container #submit-form{
    display: block;
}