@import '~vuetify/src/stylus/app'

.v-divider
	border-style solid

.v-label.error--text
	animation none !important

.v-toolbar--clipped
	z-index 5

table.sample-table
	width 100%
	table-layout fixed
	border-spacing 0px
	th
		@extend .body-2
		border-width thin 0
	td
		vertical-align top
		border-width 0 0 thin 0
		word-wrap break-word
		white-space pre-wrap
	th
	td
		@extend .pa-1
		border-style solid
		border-color rgba(0,0,0,0.12)

table.guideline-table
	width 100%
	border-spacing 0px
	color rgba(0,0,0,0.6)
	td
		@extend .py-1
		border-width 0 0 thin 0
		border-style solid
		border-color rgba(0,0,0,0.12)
	tr > td:first-child
		@extend .body-2
		width 120px

.CodeMirror
	height 100% !important

.full-time
	display none

.v-datatable
	td
		padding 0 !important

td.time
	width 100px
	&:hover
		.humanize-time
			display none
		.full-time
			display inline

[dense] table.v-table 
	thead tr:not(.v-datatable__progress)
		height 40px
	tbody td
		height 40px

pre
	word-wrap break-word
	white-space pre-wrap

table.submission-table
	margin-left 30px
	border-spacing 0px
	tr > td:first-child
		width 5em

.output-code
	margin-left 31px

a
	text-decoration none

tr.v-datatable__progress th.column
	opacity 0
	transition 0.5s
	&:not(:empty)
		opacity 1

// .card-avatar
// 	.v-card__media__background
// 		background-position-x left !important

.user-about
	word-wrap break-word

.nowrap
	white-space nowrap

th
	.v-input
		margin 0 auto
		label
			text-align center
			top 0 !important
			left 0 !important
			right 0 !important
			bottom 0 !important
			margin auto !important
			z-index 0
			font-size 12px
		input
			@extend .body-1
			text-align center
			z-index 1
			padding 2px 0
		.v-input__append-inner
			margin 0
			padding 0
		.v-select__selections
			text-align: center
			.v-select__selection
				@extend .caption
				margin 0 auto !important
				overflow hidden
			input
				display none
		.v-input__icon--clear
			width 16px
			min-width 16px
			.mdi-close
				font-size 16px
		.v-input__icon--append
			width 12px
			min-width 12px
