@import '~vuetify/src/stylus/app'

.v-divider
	border-style: solid

.v-label.error--text
	animation: none !important

.v-toolbar--clipped
	z-index: 5

table.sample-table
	width: 100%
	table-layout: fixed
	border-spacing: 0px
	th
		@extend .body-2
		border-width: thin 0
	td
		vertical-align: top
		border-width: 0 0 thin 0
		word-wrap: break-word
		white-space: pre-wrap
	th
	td
		@extend .pa-1
		border-style: solid
		border-color: rgba(0,0,0,0.12)

table.guideline-table
	width: 100%
	border-spacing: 0px
	color: rgba(0,0,0,0.6)
	td
		@extend .py-1
		border-width: 0 0 thin 0
		border-style: solid
		border-color: rgba(0,0,0,0.12)
	tr > td:first-child
		@extend .body-2
		width: 120px

.CodeMirror
	height: 100% !important

.full-time
	display: none

.time
	width: 180px
	&:hover
		.humanize-time
			display: none
		.full-time
			display: inline

[dense] table.v-table 
	thead tr:not(.v-datatable__progress)
		height: 48px
	tbody td
		height: 40px

pre
	word-wrap: break-word
	white-space: pre-wrap

table.submission-table
	margin-left: 30px
	border-spacing: 0px
	tr > td:first-child
		width: 5em

.output-code
	margin-left: 31px

a
	text-decoration: none
