{% extends "base/base.html" %}

{% block content %}
<div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>
  {% for node in discussion.get_children() recursive %}
    {% if node.visibility %}
    <div class="comment">
      <a class="avatar">
        <img src={{ gravatar_url(email=node.user.email, size=250) }} />
      </a>
      <div class="content">
        <a class="author">{{ node.user }}</a>
        <div class="metadata">
          <span class="date">{{ node.submit_time|naturaltime }}</span>
        </div>
        <div class="text">
          <p>{{ node.content }}</p>
        </div>
        <div class="actions">
          <a class="reply">Reply</a>
        </div>
      </div>
      {% set children = node.get_children() %}
      {% if children %}
        <div class="comments">
            {{ loop(children) }}
        </div>
      {% endif %}
    </div>
    {% endif %}
  {% endfor %}
  <form class="ui reply form">
    <div class="field">
      <textarea></textarea>
    </div>
    <div class="ui blue labeled submit icon button">
      <i class="icon edit"></i> Add Reply
    </div>
  </form>
</div>
{% endblock content %}