<div class="ui comments">
    <h3 class="ui dividing header">Comments
    {% if not discussion.visibility %}
        (hidden)
    {% endif %}
    </h3>
    {% for node in discussion.get_children() recursive %}
        {% if node.visibility or view_all %}
            <div class="comment">
                <a class="avatar">
                    <img src={{ gravatar_url(email=node.user.email, size=250) }} />
                </a>
                <div class="content">
                    <a class="author">{{ node.user }}</a>
                    <div class="metadata">
                        <span class="date">{{ node.submit_time|naturaltime }}</span>
                    </div>
                    {% if not node.visibility %}
                        <a>(hidden)</a>
                    {% endif %}
                    <div class="text">
                        <p>{{ node.content }}</p>
                    </div>
                    <div class="actions">
                    <!-- <a class="reply">Reply</a> -->
                    {% if view_all %}
                        {% if not node.visibility %}
                            <a class="toggle-visibility show" discussion-id={{ node.discussion_id }}>Show</a>
                        {% else %}
                            <a class="toggle-visibility hide" discussion-id={{ node.discussion_id }}>Hide</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% set children = node.get_children() %}
            {% if children %}
                <div class="comments">
                    {{ loop(children) }}
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    <form class="ui reply form">
        <div class="field">
        <textarea id="content"></textarea>
        </div>
        <div class="ui blue labeled submit icon button" id="reply-button">
        <i class="icon edit"></i> Add Reply
        </div>
        <div id = "reply-form-error-msg" class="ui negative message transition hidden"　style = 'margin-top:10px;'　></div>
    </form>
</div>
<script>
    $('#reply-button').click(function () {
        {% if user.is_authenticated == True %}
            $(this).addClass( 'loading disabled' );
            var content = $('#content').val();
            var discussionid = {{ discussion.discussion_id }};
            $.post(
                '{{ url("discussion-reply") }}',
                {
                    'csrfmiddlewaretoken' : '{{ csrf_token }}',
                    'discussionid' : discussionid,
                    'content' : content,
                },
                function(data,status){
                    if (status == 'success' && data.status == true) {
                        Problem_Discussion.refresh();
                    } else {
                        $('#reply-button')
                            .removeClass('loading disabled primary')
                            .addClass('red')
                        ;
                        $('#reply-form-error-msg')
                            .empty()
                            .removeClass( 'hidden' )
                            .append(get_error_msgText( data.errlist ))
                        ;
                    }
                }
            )
        {% else %}
            $('.login.modal').modal( 'show' );
        {% endif %}
    });
    {% if view_all %}
    $('.toggle-visibility').click(function () {
        var discussionid = $(this).attr('discussion-id');
        var visibility = $(this).hasClass('show') ? 1 : 0;
        $.post(
            '{{ url("discussion-change-visibility") }}',
            {
                'csrfmiddlewaretoken' : '{{ csrf_token }}',
                'discussionid' : discussionid,
                'visibility' : visibility,
            },
            function(data,status){
                if (status == 'success' && data.status == true) {
                    Problem_Discussion.refresh();
                } else {
                    alert('Network error')
                }
            }
        )
    });
    {% endif %}
</script>
