{% extends 'base/base.html' %}

{% block content %}

<div class = 'user list'>

    <div style = 'margin-bottom:15px;' >
        <span class="ui pagination menu">
            <a class="icon item" href = {{ url('user-list' , args = (1,) ) }} ><i class="angle double left icon"></i></a>
            {% for it in page_list %}
                {% if it == currentpage %}
                    <a class="active item" href = {{ url('user-list' , args = (it,) ) }}  >{{it}}</a>
                {% else %}
                    <a class="item" href = {{ url('user-list' , args = (it,) )  }}  >{{it}}</a>                    
                {% endif %}
            {% endfor %}
            <a class="icon item" href = {{ url('user-list', args = (max_page,) ) }} ><i class="angle double right icon"></i></a>
        </span>
        <span class="ui search" style = 'margin-left:15px;'>
            <div class="ui left icon input" >
                <input class="prompt" type="text" placeholder="User">
                <i class="search icon"></i>
            </div>
        </span>
    </div>


    <div class="ui two column grid">
        {% for each_user in userinfo_list %}
            <div class = 'column'>
                <div class="ui fluid raised segment">
                    {# <a class="ui red ribbon label">黄金会员</a> #}
                    <div class = 'ui two column grid'>
                        <div class = 'column'>
                            <div class="ui link cards">
                                <a class = 'ui card' style = 'width:250px;min-height:380px;' href = "{{ url('user-detail' , args=( each_user.user.pk , ) ) }}" >
                                    <img src= {{ gravatar_url( email = each_user.user.email , size = 250 ) }} />
                                    <div class = 'content' >
                                        <div class="header">{{ each_user.user.display_name }}</div>
                                        <div class="meta" style = 'margin-top:5px;'>
                                            <span>Last Seen {{(each_user.user.last_login or each_user.user.date_joined).strftime('%m,%d,%Y') }}</span>
                                        </div>
                                    </div>
                                    <div class="extra content">
                                        <div><i class = 'address book icon'></i>Joined in {{ each_user.user.date_joined.strftime( '%m,%Y' ) }} </div>
                                        <div><i class="users icon"></i><b>0</b> Followers</div>                                        
                                    </div>
                                </a>
                            </div>
                            {% if user != each_user.user and user.is_authenticated == True %}
                                <div class = 'ui blue attached bottom button' style = 'width:250px;' onclick = 'alert("Coming soon")' > Follow </div>
                            {% elif user.is_authenticated == True %}
                                <div class = 'ui orange attached bottom button' style = 'width:250px;' onclick = 'alert("Coming soon")' > Yourself </div>
                            {% endif %}
                        </div>
                        <div class = 'column' style = 'margin-top:20px;'>
                            <div class = 'ui one column vertically divided grid '>
                                <div class = 'column'>
                                    <div class="ui one column grid" style = 'color:rgba(0,0,0,.87);'>
                                        <div class = 'column'>
                                            <i class = 'university icon'></i>{{ each_user.school }}
                                        </div>
                                        <div class = 'column'>
                                            <i class = 'shopping bag icon'></i>{{ each_user.company }}
                                        </div>
                                        <div class = 'column'>
                                            <i class = 'map marker alternate icon'></i>{{ each_user.location }}
                                        </div>
                                        <div class = 'column'>
                                            <i class = 'tasks icon'></i><span style = 'color:green'> {{ each_user.solved  }}</span> / <span style = 'color:red;'> {{ each_user.tried  }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class = 'column' style = 'margin-top:-10px;'>
                                    <div class = 'ui divider'></div>
                                     <div class = 'ui container' style = 'overflow:hidden;height:195px;' >
                                        {{ each_user.about | nl2br }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>

<script>

    $('.user.list .ui.search')
        .search({
            apiSettings: {
                url: "/user/search/{query}"
            },
            fields: {
                results : 'items',
                title   : 'title',
                url     : 'html_url'
            },
            minCharacters : 2
        })
    ;

    $('.user.list .card').on( 'mouseenter' , function(){
    });

</script>

{% endblock %}