{% extends 'base/base.html' %}

{% set active_page = 'User' %}

{% block content %}

<div class = 'user list'>

    <div style = 'margin-bottom:25px;' >

        <div style = "text-align:center;">
            <span class="ui pagination menu">
                <a class="icon item" href = {{ url('user-list' , args = (1,) ) }} ><i class="angle double left icon"></i></a>
                {% for it in page_list %}
                    {% if it == currentpage %}
                        <a class="active item" href = {{ url('user-list' , args = (it,) ) }}  >{{it}}</a>
                    {% else %}
                        <a class="item" href = {{ url('user-list' , args = (it,) )  }}  >{{it}}</a>                    
                    {% endif %}
                {% endfor %}
                <a class="icon item" href = {{ url('user-list', args = (max_page,) ) }} ><i class="angle double right icon"></i></a>
            </span>
        
            <span class="ui search" style = 'margin-left:15px;'>
                <div class="ui left icon input" >
                    <input class="prompt" type="text" placeholder="User">
                    <i class="search icon"></i>
                </div>
            </span>
        </div>
    </div>

    <div class="ui link cards centered">
        {% for each_user in user_list %}
        <a class="card" href = "{{ url('user-detail' , args=( each_user.pk , ) ) }}">
            <div class="blurring dimmable image">
                <div class="ui dimmer transition hidden">
                    <div class="content">
                        <div class="center">
                            {% if user != each_user and user.is_authenticated == True %}
                                <div class = 'ui blue inverted button' onclick = 'alert("Coming soon");return false' > Follow </div>
                            {% elif user.is_authenticated == True %}
                                <div class = 'ui orange inverted button' onclick = 'alert("Coming soon");return false' > Yourself </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <img src= {{ gravatar_url( email = each_user.email , size = 250 ) }} />
            </div>
            <div class="content">
                <div class="right floated meta">
                    <span style = 'color:green'>{{ each_user.solved }}</span><span style = 'color:black;'>/</span><span style = 'color:red;'>{{ each_user.tried }}</span>
                </div>
                <div class="header">
                    {{ each_user.display_name }}
                </div>
                <div class="meta">
                    <span>Last Seen {{(each_user.last_login or each_user.date_joined)|naturalday}}</span>
                </div>
                {% if each_user.school %}
                <div class="meta">
                    <i class = 'university icon'></i><span>{{ each_user.school }}</span>
                </div>
                {% endif %}
                {% if each_user.company %}
                <div class="meta">
                    <i class = 'shopping bag icon'></i><span>{{ each_user.company }}</span>
                </div>
                {% endif %}
                {% if each_user.location %}
                <div class="meta">
                    <i class = 'map marker alternate icon'></i><span>{{ each_user.location }}</span>
                </div>
                {% endif %}
                <div class="description">
                    {{ each_user.about|nl2br }}
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">
                    Joined in {{ each_user.date_joined|naturalday }}
                </span>
                <span>
                    <i class="user icon"></i>
                    0 Followers
                </span>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<script>

    $('.user.list .ui.search')
        .search({
            apiSettings: {
                url: "/user/search/{query}"
            },
            fields: {
                results : 'items',
                title   : 'title',
                url     : 'html_url'
            },
            minCharacters : 2
        })
    ;

    $('.user.list .card').on( 'mouseenter' , function(){
    });

    $('.cards .image').dimmer({
        on: 'hover'
    });

</script>

{% endblock %}