{% extends "base/base.html" %}

{% block extra_head %}
    <script type="text/javascript" src="{{ static('heatmap/dist/d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('heatmap/dist/cal-heatmap.min.js') }}"></script>
    <link href="{{ static('heatmap/dist/cal-heatmap.css') }}" rel="stylesheet" />
{% endblock extra_head %}

{% block title %}
    <title> Lutece | {{ target_user.display_name }} </title>
{% endblock title %}

{% block content %}
    <div class = 'ui edit modal' style = 'min-height:400px;min-width:300px;'>
        <div class = 'header' style = 'text-align:center;color:#2185d0;' > <i class = 'edit icon'></i> Edit </div>
        <div class="image content">
            <div class="ui medium image">
                <img src = {{ gravatar_url( email = target_user.email , size = 200 ) }} >
                <div style = 'margin-top:10px'><a href = 'https://cn.gravatar.com/'><i class = 'hand point right outline icon'></i> Want to change photot?</a></div>
            </div>
            <div class="description" style = 'width:50%;'>
                <div data-tooltip = "Display name" data-position="top left" class="ui fluid left icon input" id = 'display_name-info' style = 'margin-top:20px;'>
                    <i class = 'user icon'> </i>
                    <input type ="text" value= "{{ target_user.display_name }}" maxlength = 16 >
                </div>
                <div data-tooltip = "School" data-position="top left" class="ui fluid left icon input" id = 'school-info' style = 'margin-top:15px;' >
                    <i class = 'university icon'></i>
                    <input class = 'disable' type ="text" value= "{{ info.school }}" maxlength = 60 >
                </div>
                <div data-tooltip = "Company" data-position="top left" class="ui fluid left icon input" id = 'company-info' style = 'margin-top:15px;'>
                    <i class = 'shopping bag icon'></i>
                    <input type ="text" value= "{{ info.company }}" maxlength = 32 >
                </div>
                <div data-tooltip = "Location" data-position="top left" class="ui fluid left icon input" id = 'location-info' style = 'margin-top:15px;'>
                    <i class = 'map marker alternate icon'></i>
                    <input type ="text" value= "{{ info.location }}" maxlength = 32 >
                </div>
            </div>
        </div>
        <div class = 'ui divider'></div>
        <textarea class="ui fluid container segment" id = 'about-info' style = 'min-height:100px;'>{{ info.about }}</textarea>
        <div class="actions">
            <div class="ui positive right labeled icon button" id = 'edit-submit-button'>
                Submit
                <i class="chevron right icon"></i>
            </div>
        </div>
        <div id = "user-edit-error" class="ui negative message transition hidden" style = 'margin-top:10px;'></div>
    </div>

    <div class = 'user detail'>

        <div class = 'ui grid'>
            <div class = 'four wide column'>
                <div style = 'width:90%;'　>
                    <div class = 'ui header'>Card </div>
                    <img class = 'ui centered image' style = 'width:250px;height:250px;' src= {{ gravatar_url( email = target_user.email , size = 250 ) }} />
                    <div class = 'ui card' style = 'width:auto;'>
                        <div class = 'content' >
                            <div class="header">{{ target_user.display_name }}</div>
                            <div class="meta" style = 'margin-top:5px;'>
                                <span>Last Seen {{target_user.last_login.strftime('%m,%d,%Y') }}</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <div><i class = 'address book icon'></i>Joined in {{ target_user.date_joined.strftime( '%m,%Y' ) }} </div>
                            <div><i class="users icon"></i><b>0</b> Followers</div>
                        </div>

                    </div>

                    <div class = ' ui raised segment' id = 'info-card' style = 'margin-top:30px;' >
                        <div ><i class = 'university icon'></i>{{ info.school }} </div>
                        {% if info.company | length > 0 %}
                            <div style = 'margin-top:10px;'><i class = 'shopping bag icon'></i>{{ info.company }} </div>
                        {% endif %}
                        <div style = 'margin-top:10px;'><i class = 'map marker alternate icon'></i>{{ info.location }}</div>
                        <div style = 'margin-top:10px;'><i class = 'tasks icon'></i><span style = 'color:green'> {{ info.solved  }}</span> / <span style = 'color:red;'> {{ info.tried  }}</span></div>
                        {% if user == target_user %}
                            <div style = 'margin-top:10px;' class="ui blue labeled icon bottom attached button" id = 'edit-button'>
                                <span><i class="edit icon"></i>Edit</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class = 'twelve wide column'>
                <div class = 'ui header'>Activity </div>
                <div class = 'ui raised segment' id = 'cal-heatmap' style = 'position:relative' ></div>
                <div class = 'ui header'>Recently </div>
                <div class = 'one column grid'>
                    <div class="ui raised segment">
                        <div class = 'column'>
                            <table class = "ui basic fixed selectable padded table bordered" style = 'text-align:center;' >
                                <thread>
                                    <div class = 'status list menu'>
                                        <tr>
                                            <th>ID</th>
                                            <th>When</th>
                                            <th>Problem</th>
                                            <th>Verdict</th>
                                            <th>Language</th>                                    
                                        </tr>
                                    </div>
                                </thread>
                                <tbody>
                                    {% for x in recently %}
                                        <tr>
                                            <td><a href = {{ url('submission-status-detail' , args = (x.pk,) ) }}> {{ x.pk }}</a></td>
                                            <td>{{ x.submit_time.strftime('%Y-%m-%d %H:%M')  }}</td>
                                            <td><a href = {{ url('problem-detail-view' , args = (x.problem.problem_id,) ) }} >{{x.problem.title}}</td>
                                            <td style = 'color:{{  x.judge_status | get_judge_result_color }};'><i class = '{{ x.judge_status | get_judge_result_icon }} '></i>{{ x.judge_status }} </td>
                                            <td>{{ x.language }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class = 'ui header'>Detail</div>
                <div class = 'one column grid'>
                    <div class = 'column'>
                        <div class = 'ui raised segment' >
                            {% for x in result %}
                                {% if x.1 == True %}
                                    <a href = {{ url('problem-detail-view' , args = (x.0,) )}} ><div class = 'ui tiny green button aligned center' tabindex="0" style = "width:60px;height:30px;margin-top:10px;" >{{x.0}}</div></a>
                                {% else %}
                                    <a href = {{ url('problem-detail-view' , args = (x.0,) )}} ><div class = 'ui tiny red button aligned center' tabindex="0" style = "width:60px;height:30px;margin-top:10px;" >{{x.0}}</div></a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>

    
    </div>

    <script>

        $('#edit-button').click(function(){
            $('.ui.edit.modal').modal({
                onApprove : function() {
                    return false;
                }
            });
            $('.ui.edit.modal')
                .modal('setting', 'transition', 'vertical flip')
                .modal('show')
            ;
        })

        var cal = new CalHeatMap();
        var previous_one_year = new Date();
        previous_one_year.setMonth(previous_one_year.getMonth() - 11);        
	    cal.init({
            domain: "month",
            subDomain: "day",
            tooltip: true,
            cellRadius : 3,
            domainGutter : 10,
            cellSize: 10,
            rowLimit: 7,
            label:{
                position : 'top',
                align: 'center',
            },
            legendHorizontalPosition: "right",
            start: previous_one_year,
            itemName: ['submission' , 'submissions'],
            data: "{{ url( 'submission-get-activity' , args = ( target_user.pk, ) ) }}"
        });
        
        {% if user == target_user %}
            $('#edit-submit-button').click(function(){
                var about = $('#about-info').val();
                var school = $('#school-info > input').val();
                var company = $('#company-info > input').val();
                var _location = $('#location-info > input').val();
                var display_name = $('#display_name-info > input').val();

                $(this).addClass( 'disabled loading' );
                $.ajaxSetup({
                    data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
                });
                $.post(
                    '{{ url("user-infomodify") }}',
                    {
                        'about' : about,
                        'school' : school,
                        'company' : company,
                        'location' : _location,
                        'display_name' : display_name
                    },
                    function(data,status){
                        if( status == 'success'  && data.status == true ){
                            location.reload();
                        }else{
                            $('#edit-submit-button')
                                .removeClass( 'loading disabled positive' )
                                .addClass('red')
                            ;
                            $('#user-edit-error')
                                .empty()
                                .removeClass( 'hidden' )
                                .append(get_error_msgText( data.error_msg ))
                            ;
                        }
                    }
                )
            });
        {% endif %}

    </script>

{% endblock content %}