{% extends "base/base.html" %}

{% block extra_head %}
    <script type="text/javascript" src="{{ static('heatmap/dist/d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('heatmap/dist/cal-heatmap.min.js') }}"></script>
    <link href="{{ static('heatmap/dist/cal-heatmap.css') }}" rel="stylesheet" />
{% endblock extra_head %}

{% block title %}
    <title> Lutece | {{ target_user.display_name }} </title>
{% endblock title %}

{% block content %}
    <div class = 'user detail'>

        <div class = 'ui grid'>
            <div class = 'four wide column'>
                <div style = 'width:90%;'>
                    {% set user_group = target_user | get_user_group %}
                    {% if  user_group.value.show %}
                        <div class = "{{ user_group.value.css }}" style = 'margin-bottom:10px;' > {{ user_group.value.display }} </div>
                    {% endif %}
                    <img class = 'ui centered image' style = 'width:250px;height:250px;' src= {{ gravatar_url( email = target_user.email , size = 250 ) }} />
                    <div class = 'ui card' style = 'width:auto;'>
                        <div class = 'content' >
                            <div class="header">{{ target_user.display_name }}</div>
                            <div class="meta" style = 'margin-top:5px;'>
                                <span>Last Seen {{(target_user.last_login or target_user.date_joined).date() }}</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <div><i class = 'address book icon'></i>Joined in {{ target_user.date_joined.date() }} </div>
                            <div><i class="users icon"></i><b>0</b> Followers</div>
                        </div>

                    </div>

                    <div class = ' ui raised segment' id = 'info-card' style = 'margin-top:30px;' >
                        <div ><i class = 'university icon'></i>{{ info.school }} </div>
                        {% if info.company | length > 0 %}
                            <div style = 'margin-top:10px;'><i class = 'shopping bag icon'></i>{{ info.company }} </div>
                        {% endif %}
                        <div style = 'margin-top:10px;'><i class = 'map marker alternate icon'></i>{{ info.location }}</div>
                        <div style = 'margin-top:10px;'><i class = 'tasks icon'></i><span style = 'color:green'> {{ info.solved  }}</span> / <span style = 'color:red;'> {{ info.tried  }}</span></div>
                        {% if user == target_user %}
                            <div style = 'margin-top:10px;' class="ui blue labeled icon bottom attached button" id = 'edit-button'>
                                <span><i class="edit icon"></i>Edit</span>
                            </div>
                        {% endif %}
                    </div>

                    {% set user_control_permission_list = user | get_user_group | get_user_control_permission %}
                    {% if user_control_permission_list | length > 0 and user != target_user %}
                        <select class="ui fluid selection dropdown" id="permission-dropdown">
                            <i class="dropdown icon"></i>
                            {% for each in user_control_permission_list %}
                                <option value = "{{ url(each.value.url) }}" >{{ each.value.display }} </option>
                            {% endfor %}
                        </select>
                        <div style = 'margin-top:6px;' class="ui teal labeled icon bottom attached button" id = 'permission-button'>
                            Apply Permission
                        </div>
                    {% endif %}

                </div>
            </div>

            <div class = 'twelve wide column'>
                <div class = 'ui header'>Activity </div>
                <div id = 'total-submisison'></div>
                <div class = 'ui raised segment' id = 'cal-heatmap' style = 'position:relative' ></div>
                <div class = 'ui header'>Recently </div>
                <div class = 'one column grid'>
                    <div class="ui raised segment">
                        <div class = 'column'>
                            <table class = "ui basic fixed selectable padded table bordered" style = 'text-align:center;' >
                                <thread>
                                    <div class = 'status list menu'>
                                        <tr>
                                            <th>ID</th>
                                            <th>When</th>
                                            <th>Problem</th>
                                            <th>Verdict</th>
                                            <th>Language</th>                                    
                                        </tr>
                                    </div>
                                </thread>
                                <tbody>
                                    {% for x in recently %}
                                        <tr>
                                            <td><a data-code = '{{ url( "submission-code" , args = ( x.pk , ) ) }}' data-detail = '{{ url( "submission-detail" , args = ( x.pk , ) ) }}'  href ='javascript:void(0)' onclick = 'Submission_Detail_View.request($(this))'  > {{x.submission_id}} </a></td>
                                            <td>{{ x.submit_time.strftime('%Y-%m-%d %H:%M')  }}</td>
                                            <td><a href = {{ url('problem-detail' , args = (x.problem.problem_id,) ) }} >{{x.problem.title}}</td>
                                            <td style = 'color:{{  x.judge_status | get_judge_result_color }};'><i class = '{{ x.judge_status | get_judge_result_icon }} '></i>{{ x.judge_status }} </td>
                                            <td>{{ x.language }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class = 'ui header'>Detail</div>
                <div class = 'one column grid'>
                    <div class = 'column'>
                        <div class = 'ui raised segment' >
                            {% for x in result %}
                                {% if x.1 == True %}
                                    <a href = {{ url('problem-detail' , args = (x.0,) )}} ><div class = 'ui tiny green button aligned center' tabindex="0" style = "width:60px;height:30px;margin-top:10px;" >{{x.0}}</div></a>
                                {% else %}
                                    <a href = {{ url('problem-detail' , args = (x.0,) )}} ><div class = 'ui tiny red button aligned center' tabindex="0" style = "width:60px;height:30px;margin-top:10px;" >{{x.0}}</div></a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>

    
    </div>

    {% include 'status/submission_detail.html' %}

    <script>
        var cal = new CalHeatMap();
        var previous_one_year = new Date();
        previous_one_year.setMonth(previous_one_year.getMonth() - 11);        
        cal.init({
            domain: "month",
            subDomain: "day",
            tooltip: true,
            cellRadius : 3,
            domainGutter : 10,
            cellSize: 10,
            rowLimit: 7,
            label:{
                position : 'top',
                align: 'center',
            },
            legendHorizontalPosition: "right",
            start: previous_one_year,
            itemName: ['submission' , 'submissions'],
            data: "{{ url( 'submission-get-activity' , args = ( target_user.pk, ) ) }}",
            afterLoadData: function(data){
                let length = 0 ;
                for( each in data ) ++ length;
                $('#total-submisison').html( '<b>' + String(length) + '</b> submissions during the last year.' );
                return data;
            }
        });

        {% if user_control_permission_list | length > 0 and user != target_user %}
            $('#permission-dropdown').dropdown();
            $('#permission-dropdown').dropdown( 'set selected' , '{{ url(user_group.value.url) }}' )
            $('#permission-button').click(function(){
                $(this).addClass( 'loading disabled' );
                let url = $('#permission-dropdown').dropdown( 'get value' );
                $.post(
                    url,
                    {
                        'csrfmiddlewaretoken' : '{{ csrf_token }}',
                        'user' : {{ target_user.pk }}
                    },
                    function( data ){
                        location.reload();
                    }
                )
            });
        {% endif %}
    </script>

    {% if user == target_user %}
        {% include 'user/user_edit.html' %}        
    {% endif %}


{% endblock content %}