{% extends "base/base.html" %}


{% block content %}
    <div class = 'about'>
        <div class = 'ui grid'>

            <div class = 'row'>
                <div class = 'column'>
                    <h2> Introduction </h2>
                    <p> <b>Lutece</b>(卢特斯)是一个基于GNU General Public License Version 3协议开源的Online Judge.</p>
                    <p> <b>Lutece</b>的名字取自<a href = 'https://en.wikipedia.org/wiki/BioShock_Infinite'>BioShock Infinite</a>中的双胞胎科学家(事实上她们是同一个人)Robert Lutece和Rosalind Lutece的姓氏.</p>
                    <p> <b>Lutece</b>不仅将支持传统算法,还将计划支持并行计算和机器学习.</p>
                </div>
            </div>

            <div class = 'row'>
                <div class = 'column'>
                    <h2> Author </h2>
                    <div class="ui link cards">
                        <a class="card" style = 'width:180px;height:270px;' href = 'https://github.com/LaPluses'>
                            <div class = 'image'>
                                <img src = {{ gravatar_url( email = '449540179@qq.com' , size = 300 ) }}>
                            </div>
                            <div class = 'content' >
                                <div class="header"style = 'height:24px;' >Ke Shen</div>
                                <div class='meta'style = 'margin-top:5px'><i class = 'shopping bag icon'></i><b>Google</b></div>
                                <div class="meta" style = 'margin-top:5px;'><i class = 'cog icon'></i><b>Software Engineer</b></div>
                            </div>
                        </a>

                        <a class="card" style = 'width:180px;height:270px;' href = 'https://github.com/holdzhu'>
                            <div class = 'image'>
                                <img src = {{ gravatar_url( email = '841815229@qq.com' , size = 300 ) }}>
                            </div>
                            <div class = 'content' >
                                <div class="header"style = 'height:24px;' >Zhu He</div>
                                <div class='meta'style = 'margin-top:5px'><i class = 'shopping bag icon'></i><b>Alibaba</b></div>
                                <div class="meta" style = 'margin-top:5px;'><i class = 'cog icon'></i><b>Algorithm Engineer</b></div>
                            </div>
                        </a>

                    </div>

                </div>
            </div>

            <div class = 'row'>
                <div class = 'column'>
                    <h2> Contributor </h2>
                    <diav class="ui link cards">
                        <a class="card" style = 'width:180px;height:270px;' href = 'http://www.cnblogs.com/qscqesze/' >
                            <div class = 'image'>
                                <img src = {{ gravatar_url( email = '475517977@qq.com' , size = 300 ) }}>
                            </div>
                            <div class = 'content' >
                                <div class="header"style = 'height:24px;' >Jun Qing</div>
                                <div class='meta'style = 'margin-top:5px'><i class = 'shopping bag icon' ></i><b>Bytedance</b></div>
                                <div class="meta" style = 'margin-top:5px;'><i class = 'cog icon'></i><b>Algorithm Engineer</b></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class = 'row' style = 'margin-top:25px;'>
                <div class = 'column'>
                    <h2> Copyright </h2>
                    <p><b>Lutece</b> Copyright<i class = 'copyright icon'></i> 2018, Ke Shen( <a href = 'Mailto:xipersup@gmail.com'>xipersup@gmail.com</a> ), Zhu He( <a href = 'Mailto:hezhu1688@gmail.com'>hezhu1688@gmail.com</a> ). All rights reserved. </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}