<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
        <meta content="width=1300, initial-scale=1 user-scalable=yes" name="viewport" />
        {% block title %}
            <title>Lutece</title>
        {% endblock %}
    
        <link rel="stylesheet" type="text/css" href="{{ static('semantic/dist/semantic.css') }}">
        <link href="{{ static('css/common_templates/base.css') }}" rel="stylesheet" />
        <link href="{{ static('css/common_templates/footer.css') }}" rel="stylesheet" />
        <link href="{{ static('css/common_templates/top_menu.css') }}" rel="stylesheet" />
        <script type="text/javascript" src="{{ static('script/global.js') }}"></script>
        <script type="text/javascript" src="{{ static('jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ static('semantic/dist/semantic.js') }}"></script>
        {% block extra_head %}
        {% endblock %}
    </head>

    <body>
        {% include 'base/top_menu.html' %}

        <div class = 'main text container'>
            {% block content %}
            {% endblock %}
            {% include 'base/footer.html' %}
        </div>
    
    </body>

</html>