<div class = 'top menu'>
    <div class = 'ui fixed top borderless huge menu'>
        <div class="ui container" id="top-menu">
            <div class="header item">Lutece</div>
            {% for url , icon , name in navigation_bar %}
                <a class = "{% if name == active_page %} active {% endif %} item" href = "{{url}}" ><i class = "{{icon}}"></i>{{ name }}</a>
            {% endfor %}
            <div class="right menu">
                {% if user.is_authenticated %}
                    <div class = 'item'>
                        <img src="{{ gravatar_url( email = user.email , size = 150 ) }}" alt="" />
                        <div id = 'user-info'><a href =  {{ url('user-detail' , args = (user.pk,) ) }} style = "color:black" >{{user.display_name}}</a></div>
                    </div>
                {% endif %}
                <div class="item">
                    {% if user.is_authenticated == False %}
                        <div class="ui primary button" id="signin"><b><i class="sign in icon"></i></b>Sign in</div>
                    {% else %}
                        <div class="ui red button" id="signout-button"><b><i class="sign out icon"></i></b>Sign out</div>     
                    {% endif %}
                </div>
            </div>
        </div>

        <div class = 'ui login modal' style = 'min-height:300px;min-width:800px;'>
            <div class = 'header' style = 'text-align:center;' > <i class = 'sign in alternate icon'></i> LOG IN </div>
            <div class = 'content' style = 'padding-left:50px;'>
                <div class="ui two column middle aligned very relaxed stackable grid">
                    <div class = 'column'>
                        <form>
                            <div data-tooltip = "Username" data-position="top left" class="ui left icon fluid username input">
                                <i class="user icon"></i>
                                <input id = "usrinput_login" type="username" name="username" placeholder="Username">
                            </div>
                            <div data-tooltip = "Password" data-position="top left" class="ui left icon fluid password input" style = 'margin-top:20px;'>
                                <i class="lock icon"></i>
                                <input id = "pwdinput_login" type="password" name="password" placeholder="Password">
                            </div>
                            <button type="submit" id = 'button_login' style = 'margin-top:20px;' class="ui fluid large primary login button">Login</button>
                        </form>
                    </div>

                    <div class="divider-column" style = 'position: relative;padding: 0 !important;'>
                        <div class="ui vertical divider"> OR </div>
                    </div>

                    <div class="center aligned column">
                        <div class="ui big green labeled icon button" id = 'botton_signup' ><i class="signup icon"></i>SIGN UP</div>
                    </div>
                </div>
            </div>
            <div id = "login-modal-errmsg" class="ui negative message transition hidden" style = 'margin-top:20px;' >
                <div class="header">
                    Your username or password is incorrect.
                </div>
            </div>
        </div>


        <div class="ui signup modal" style = 'min-height:300px;min-width:500px;'>
            <div class = 'header' style = 'text-align:center;' > <i class = 'signup icon'></i> SIGN UP </div>
            <div class = 'content' style = 'padding-left:50px;padding-right:50px;padding-bottom:20px;'>
                <div data-tooltip = "Username" data-position="top left" class="ui left icon username fluid input">
                    <i class="user icon"></i>
                    <input id="usrinput_signup" type="username" name="username" placeholder="Username">
                </div>
                <div data-tooltip = "Password" data-position="top left" class="ui left icon password fluid input" style = 'margin-top:20px;'>
                    <i class="lock icon"></i>
                    <input id="pwdinput_signup" type="password" name="password" placeholder="Password">
                </div>
                <div data-tooltip = "Email(used in gravatar)" data-position="top left" class="ui left icon email fluid input" style = 'margin-top:20px;' >
                    <i class="mail outline icon"></i>
                    <input id="emailinput_signup" type="email" name="email" placeholder="Email">
                </div>
                <div data-tooltip = "Display name" data-position="top left" class="ui left icon displayname fluid input" style = 'margin-top:20px;'>
                    <i class="css3 icon"></i>
                    <input id="displaynameinput_signup" type="displayname" name="displayname" placeholder="Displayname">
                </div>
                <div class = "ui fluid large positive signup button" style = 'margin-top:20px;' >Register</div>
            </div>
            <div id = "signup-modal-errmsg" class="ui negative message transition hidden"></div>
        </div>         

        <script>

            $(document).ready(function(){

                $('.top.menu .signup.button').click(function () {
                    var username = $("#usrinput_signup").val();
                    var password = $("#pwdinput_signup").val();
                    var email = $("#emailinput_signup").val();
                    var displayname = $("#displaynameinput_signup").val();
                    $(this)
                        .removeClass('red')
                        .addClass( 'positive loading disabled' )
                    ;
                    $('#signup-modal-errmsg').addClass('hidden');
                    $.post(
                        "{{ url('user-signup') }}",
                        {
                            'csrfmiddlewaretoken' : '{{ csrf_token }}',
                            'username': username,
                            'password': password,
                            'email' : email,
                            'displayname' : displayname
                        },
                        function (data, status) {
                            if (status == 'success' && data.signup_status == true) {
                                location.reload();
                                return;
                            }
                            $('.signup.button')
                                .removeClass('loading disabled positive')
                                .addClass( 'red' )
                            ;
                            $('#signup-modal-errmsg')
                                .removeClass('hidden')
                                .html( data.error_msg )
                            ;
                        }
                    );
                });

                $('#button_login').click(function(){
                    var username = $("#usrinput_login").val();
                    var password = $("#pwdinput_login").val();
                    $('#login-modal-errmsg').addClass('hidden');
                    $(this)
                        .removeClass( 'red' )
                        .addClass( 'loading disabled primary' )
                    ;
                    $.post(
                        "{{ url('user-login') }}",
                        {
                            'csrfmiddlewaretoken' : '{{ csrf_token }}',
                            'username': username,
                            'password': password
                        },
                        function (data, status) {
                            if (status == 'success' && data.login_status == true) {
                                location.reload();
                                return;
                            }
                            $('#login-modal-errmsg').removeClass('hidden');
                            $('#button_login')
                                .removeClass( 'loading disabled primary' )
                                .addClass('red')
                            ;
                        }
                    );
                    return false;
                });


                var login_modal = $('.top.menu > .login.modal' )
                $(login_modal).modal('setting', 'transition', 'fade down');

                $('#signin')
                    .click( function(){
                        $(login_modal).modal('show')
                    });

                var signup_modal = $('.top.menu > .signup.modal' )
                $(signup_modal).modal('setting' , 'transition' , 'horizontal flip' );

                $('#botton_signup')
                    .click( function(){
                        $(signup_modal).modal('show')
                    });

                $('#signout-button')
                    .click( function(){
                        $(this).addClass( 'loading disabled' );
                        $.get(
                            "{{ url('user-logout') }}",
                            function(data,status){
                                location.reload();
                            }
                        );
                    });

            });
        </script>
    </div>
</div>