{% extends "base/base.html" %}

{% block extra_head %}
    <link href="{{ static('css/submission/status_list.css') }}" rel="stylesheet" />
{% endblock extra_head %}

{% block content %}
    <div class = 'status list'>

        <div class="ui pagination menu">
            <a class="icon item" href = {{ url('submission-status-list' , args = (1,) ) }} ><i class="angle double left icon"></i></a>
            {% for it in page_list %}
                {% if it == currentpage %}
                    <a class="active item" href = {{ url('submission-status-list' , args = (it,) ) }}  >{{it}}</a>
                {% else %}
                    <a class="item" href = {{ url('submission-status-list' , args = (it,) ) }}  >{{it}}</a>                    
                {% endif %}
            {% endfor %}
            <a class="icon item" href = {{ url('submission-status-list', args = (max_page,) ) }} ><i class="angle double right icon"></i></a>
        </div>

        <table class = "ui selectable very padded padded table" >
            <thread>
                    <div class = 'status list menu'>
                        <tr>
                            <th>ID</th>
                            <th>When</th>
                            <th>User</th>                
                            <th>Problem</th>
                            <th>Verdict</th>
                            <th>Time</th>
                            <th>Memory</th>
                            <th>Language</th>
                        </tr>
                    </div>
            </thread>
                <tbody>
                    {% for it in statuslist %}
                        <tr>
                            <td><a href = {{ url('submission-status-detail' , args = (it.submission_id,) ) }}> {{it.submission_id}} </a></td>
                            <td>{{it.submit_time.strftime('%Y-%m-%d %H:%M:%S')  }}</td>  
                            <td><a href = {{ url('user-detail' , args = (it.user.pk,) ) }}>{{it.user.display_name}}</a></td>                
                            <td><a href = {{ url('problem-detail-view' , args = (it.problem.problem_id,) ) }} >{{it.problem.title}}</a></td>
                            <td class = 'judge_info' >{{it.judge_status}}</td>
                            {% if it.completed %}
                                <td>{{ it.get_time_cost }} ms</td>
                                <td>{{ it.get_memory_cost }} kb</td>
                            {% else %}
                                <td><i class = 'ui help icon'></i></td>
                                <td><i class = 'ui help icon'></i></td>
                            {% endif %}
                            <td>{{it.language}}</td>  
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>

    <script>
        // color of judge_status
        $(document).ready(function(){
            var process_queue = $('.status.list .judge_info');
            for( let i = 0 ; i < process_queue.length ; ++ i){
                let j = process_queue[i];
                let k = j.innerText;
                if( k == "Accepted" ){
                    $(j).css( 'color' , 'green' )
                        .prepend( "<i class = 'check icon'</i>" );
                }else if( k == 'Waiting' || k == 'Preparing' ){
                    $(j).css( 'color' , 'grey' );
                }else if( k == 'Compile Error' || k == 'Judger Error' ){
                    $(j).css( 'color' , 'orange' )
                        .prepend( "<i class = 'exclamation icon'</i>" );
                }else if( k.substring( 0 , 7 ) == 'Running' ){
                    $(j).css( 'color' , 'black' )
                        .prepend( "<i class = 'sync icon'</i>" );
                }else{
                    $(j).css( 'color' , 'red' )
                        .prepend( "<i class = 'times icon'</i>" ); 
                }
            }
        });
    </script>
{% endblock content %}

