{% extends "base/base.html" %}

{% block extra_head %}
    <link href="{{ static('css/submission/status_list.css') }}" rel="stylesheet" />
{% endblock extra_head %}

{% block content %}
    <div class = 'status list'>

        <div class = 'ui grid'>

            <div class = 'five wide column'>
                <div class="ui pagination menu">
                    <a class="icon item" href = {{ url('submission-status-list' , args = (1,) ) }} ><i class="angle double left icon"></i></a>
                    {% for it in page_list %}
                        {% if it == currentpage %}
                            <a class="active item" href = {{ url('submission-status-list' , args = (it,) ) }}  >{{it}}</a>
                        {% else %}
                            <a class="item" href = {{ url('submission-status-list' , args = (it,) ) }}  >{{it}}</a>                    
                        {% endif %}
                    {% endfor %}
                    <a class="icon item" href = {{ url('submission-status-list', args = (max_page,) ) }} ><i class="angle double right icon"></i></a>
                </div>
            </div>

            <div class = 'two wide column'>
                <div class="ui search">
                    <div class="ui fluid left icon input" >
                        <input class="prompt" type="text" placeholder="User">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>

            <div class = 'two wide column'>
                <div class="ui fluid search">
                    <div class="ui fluid left icon input" >
                        <input class="prompt" type="text" placeholder="Problem">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>

            <div class='three wide column'>
                <div class="ui fluid selection dropdown">
                    <input type="hidden" name="verdict" value="ALL">
                    <i class="dropdown icon"></i>
                    <div class="text">All</div>
                    <div class="menu">
                        <div class="item" data-value="ALL">
                            All verdicts
                        </div>
                        <div class="item" data-value="AC">
                            Accepted
                        </div>
                        <div class="item" data-value="WA">
                            Wrong Answer
                        </div>
                        <div class="item" data-value="TLE">
                            Time Limit Exceeded
                        </div>
                        <div class="item" data-value="MLE">
                            Memory Limit Exceeded
                        </div>
                    </div>
                </div>
            </div>

            <div class='three wide column'>
                <div class="ui fluid selection dropdown">
                    <input type="hidden" name="verdict" value="ALL">
                    <i class="dropdown icon"></i>
                    <div class="text">All languages</div>
                    <div class="menu">
                        <div class="item" data-value="ALL">
                            All languages
                        </div>
                        <div class="item" data-value="CPP">
                            C++
                        </div>
                        <div class="item" data-value="C">
                            C
                        </div>
                    </div>
                </div>
            </div>

            <div class = 'one wide column'>
                <div class = 'ui secondary button'> Apply </div>
            </div>


        </div>

        <table class = "ui selectable very padded padded table" >
            <thread>
                    <div class = 'status list menu'>
                        <tr>
                            <th>ID</th>
                            <th>When</th>
                            <th>User</th>                
                            <th>Problem</th>
                            <th>Verdict</th>
                            <th>Time</th>
                            <th>Memory</th>
                            <th>Language</th>
                        </tr>
                    </div>
            </thread>
                <tbody>
                    {% for it in statuslist %}
                        <tr>
                            <td><a href = {{ url('submission-status-detail' , args = (it.submission_id,) ) }}> {{it.submission_id}} </a></td>
                            <td>{{it.submit_time.strftime('%Y-%m-%d %H:%M:%S')  }}</td>  
                            <td><a href = {{ url('user-detail' , args = (it.user.pk,) ) }}>{{it.user.display_name}}</a></td>                
                            <td><a href = {{ url('problem-detail-view' , args = (it.problem.problem_id,) ) }} >{{it.problem.title}}</a></td>
                            <td style = 'color:{{  it.judge_status | get_judge_result_color }};'><i class = 'ui {{ it.judge_status | get_judge_result_icon }} '></i>{{ it.judge_status }} </td>
                            {% if it.completed %}
                                <td>
                                    {% if it.judge_status | check_judge_result_in_listshow_field %}
                                        {{ it.get_time_cost }} ms
                                    {% endif %}
                                </td>
                                <td>
                                    {% if it.judge_status | check_judge_result_in_listshow_field == True %}
                                        {{ it.get_memory_cost }} kb
                                    {% endif %}
                                </td>
                            {% else %}
                                <td><i class = 'ui help icon'></i></td>
                                <td><i class = 'ui help icon'></i></td>
                            {% endif %}
                            <td>{{it.language}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>

    <script>
        // initialize dropdown
        $('.ui.dropdown').dropdown();
    </script>
{% endblock content %}

