{% extends "base/base.html" %}

{% block extra_head %}
    <link href="{{ static('prism/dist/prism.css') }}" rel="stylesheet" />
    <link href="{{ static('css/submission/status_detail.css') }}" rel="stylesheet" />
    <script type="text/javascript" src="{{ static('prism/dist/prism.js') }}"></script>
{% endblock extra_head %}

{% block content %}
    <div class = "status detail">
        <div class="ui segment">
            <div class="ui one column grid">
                {# 
                    View detail code permisison
                #}
                {% if user == status.user or perms.problem.view_all %}
                    <div class = 'column'>
                        <div class="label" ><b>Code</b></div>
                        <pre><code class = "{{ status.language | get_prism }}" >{{ status.code }} </code></pre>
                    </div>
                {% endif %}

                <div class = 'column'>
                    <div class="label" ><b>Detail</b></div>
                    <div id = 'case-detail'>
                    </div>
                </div>

                <div class = 'column'>

                    <div class = "ui indicating progress" id = 'progress-detail' >

                        <div class="bar">
                            <div class="progress"></div>
                        </div>

                        <div class="label">Judge Status</div>

                    </div>

                </div>

                {% if status.judge_status | is_compile_error and ( status.user == user or perms.problem.view_all ) %}
                    <div class ='column'>
                        <div class="label" ><b>Additional Info</b></div>
                        <div class = "ui fluid container segment" > {{ status | get_CE_JE_info | replace("\n", "<br/>") | safe }} </div>
                    </div>
                {% elif  status.judge_status | is_judger_error and perms.problem.view_all %}
                    <div class ='column'>
                        <div class="label" ><b>Judger Info</b></div>
                        <div class = "ui fluid container segment"> {{ status | get_CE_JE_info | replace("\n", "<br/>") | safe }} </div>
                    </div>
                {% endif %}

                <div class = 'column'>
                    <div id = "status-detail-error" class="ui negative message transition hidden">Can not get data from server, please refresh.</div>
                </div>

            </div>

        </div>
    </div>
    <script>
        function Upadate_status(){
            $.get(
                '{{ url("submission-status-detail-data-json" , args = (status.pk,) ) }} ',
                function(data,status){
                    if( status == 'success' && data.status == true ){
                        $('#progress-detail')
                            .progress( 'set progress' , data.detail.length )
                            .progress( 'set label' , String( data.detail.length ) + ' de {{ status.case_number }}'  )
                        ;
                        var ob = $('#case-detail');
                        var len = data.detail.length;
                        ob.empty();
                        for(let i = 0 ; i < len ; ++ i){
                            var gen = "<div class = 'ui tiny " + (data.detail[i][1] == 'Accepted' ? 'green' : 'red')  + " button' tabindex = '0' data-position ='top left' style = 'width:60px;height:30px;margin-top:10px;' data-tooltip = '" + String( data.detail[i][2] ) + " ms / " + String( data.detail[i][3] ) + " kb'>" + String( data.detail[i][0] ) + "</div>";
                            ob.append( gen );
                        }
                        if( len > 0 && data.detail[len - 1][1] != 'Accepted' )
                            $('#progress-detail').progress( 'set error' );
                        else if( len != {{ status.case_number }} )
                            setTimeout( "Upadate_status()" , 1000 );
                    }else{
                        $('#status-detail-error').removeClass( 'hidden' );
                    }
                }
            )
        }

        $(document).ready(function(){
            $('#progress-detail').progress( 'set total' , {{ status.case_number }} );
            Upadate_status();
        });
    </script>

{% endblock content %}