{% extends "base/base.html" %}

{% block extra_head %}
    <link href="{{ static('css/submission/status_list.css') }}" rel="stylesheet" />
{% endblock extra_head %}

{% block content %}
    <div class = 'status list'>

        <div style = "text-align:center;">
            <span class="ui pagination menu">
                <a class="icon item" href = {{ url('submission-status-list' , args = (1,) ) | append_query_parameters( querystring ) }} ><i class="angle double left icon"></i></a>
                {% for it in page_list %}
                    {% if it == currentpage %}
                        <a class="active item" href = {{ url('submission-status-list' , args = (it,) ) | append_query_parameters( querystring ) }}  >{{it }}</a>
                    {% else %}
                        <a class="item" href = {{ url('submission-status-list' , args = (it,) ) | append_query_parameters( querystring )  }}  >{{it }}</a>                    
                    {% endif %}
                {% endfor %}
                <a class="icon item" href = {{ url('submission-status-list', args = (max_page,) ) | append_query_parameters( querystring ) }} ><i class="angle double right icon"></i></a>
            </span>
        </div>

        <div style = 'text-align:center;margin-top:15px;' >
            
            <span id = 'user-search' class="ui search" style = 'margin-left:15px;' >
                <div class="ui left icon input" >
                    <input class="prompt" type="text" placeholder="User"
                        {% if 'display_name' in meta %}
                            value = "{{ meta.display_name }}"
                        {% endif %}
                    >
                    <i class="search icon"></i>
                </div>
            </span>


            <span id = 'problem-search'  class="ui search" style = 'margin-left:15px;'>
                <div class="ui left icon input" >
                    <input class="prompt" type="text" placeholder="Problem"
                        {% if 'title' in meta %}
                            value = "{{ meta.title }}" 
                        {% endif %}
                    >
                    <i class="search icon"></i>
                </div>
            </span>

            <span id = 'verdict-dropdown' class="ui selection dropdown" style = 'margin-left:15px;'>
                <input type="hidden" name="verdict" 
                    {% if 'verdict' in meta %}
                        value = "{{ meta.verdict }}"
                    {% else %}
                        value = "ALL" 
                    {% endif %}
                >
                <i class="dropdown icon"></i>
                <div class="text">All</div>
                <div class="menu">
                    <div class="item" data-value="ALL">
                        All verdicts
                    </div>
                    {% for each in judge_result_list %}
                        <div class = 'item' data-value = '{{ each.value.full }}'>
                            {{ each.value.full }}
                        </div>
                    {% endfor %}
                </div>
            </span>

            <span id = 'language-dropdown' class="ui selection dropdown" style = 'margin-left:15px;'>
                <input type="hidden" name="verdict" 
                    {% if 'lang' in meta %}
                        value = "{{ meta.lang }}"
                    {% else %}
                        value = "ALL"
                    {% endif %}
                >
                <i class="dropdown icon"></i>
                <div class="text">All languages</div>
                <div class="menu">
                    <div class="item" data-value="ALL">
                        All languages
                    </div>
                    {% for each in language_list %}
                        <div class = 'item' data-value = '{{ each.value.info }}'>
                            {{ each.value.info }}
                        </div>
                    {% endfor %}
                </div>
            </span>

            <span id = 'apply-button' class = 'ui secondary button' style = 'margin-left:15px;'> Apply </span>

        </div>

        <table class = "ui selectable very padded padded table" >
            <thread>
                    <div class = 'status list menu'>
                        <tr>
                            <th>ID</th>
                            <th>When</th>
                            <th>User</th>                
                            <th>Problem</th>
                            <th>Verdict</th>
                            <th>Time</th>
                            <th>Memory</th>
                            <th>Language</th>
                        </tr>
                    </div>
            </thread>
                <tbody>
                    {% for it in statuslist %}
                        <tr>
                            <td><a href = {{ url('submission-status-detail' , args = (it.submission_id,) ) }}> {{it.submission_id}} </a></td>
                            <td>{{it.submit_time.strftime('%Y-%m-%d %H:%M:%S')  }}</td>  
                            <td><a href = {{ url('user-detail' , args = (it.user.pk,) ) }}>{{it.user.display_name}}</a></td>                
                            <td><a href = {{ url('problem-detail-view' , args = (it.problem.problem_id,) ) }} >{{it.problem.title}}</a></td>
                            <td style = 'color:{{  it.judge_status | get_judge_result_color }};'><i class = '{{ it.judge_status | get_judge_result_icon }}'></i>{{ it.judge_status }}</td>
                            {% if it.completed %}
                                <td>
                                    {% if it.judge_status | check_judge_result_in_listshow_field %}
                                        {{ it.get_time_cost }} ms
                                    {% endif %}
                                </td>
                                <td>
                                    {% if it.judge_status | check_judge_result_in_listshow_field == True %}
                                        {{ it.get_memory_cost }} KiB
                                    {% endif %}
                                </td>
                            {% else %}
                                <td><i class = 'ui help icon'></i></td>
                                <td><i class = 'ui help icon'></i></td>
                            {% endif %}
                            <td>{{it.language}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>

    <script>
        // initialize dropdown
        $('.ui.dropdown').dropdown();

        $('#user-search')
        .search({
            apiSettings: {
                url: "{{ user_search_url }}/{query}"
            },
            fields: {
                results : 'items',
                title   : 'title',
            },
            minCharacters : 2
        });

        $('#problem-search')
        .search({
            apiSettings: {
                url: "{{ problem_search_url }}/{query}"
            },
            fields: {
                results : 'items',
                title   : 'title',
            },
            minCharacters : 2
        });

        $('#apply-button').click(function(){
            var displayname = $('#user-search .prompt').val();
            var title = $('#problem-search .prompt').val();
            var verdict = $('#verdict-dropdown')[0].innerText;
            var lang = $('#language-dropdown')[0].innerText;
            if( verdict == 'All verdicts' )
                verdict = "";
            if( lang == 'All languages' )
                lang = "";
            $(this).addClass( 'disabled loading' );
            var base_url = '{{ url('submission-status-list' , args = (1,) ) }}';
            var query = '';
            var params = {};
            if( displayname.length > 0 ) params['display_name'] = displayname;
            if( title.length > 0 ) params['title'] = title;
            if( verdict.length > 0 ) params['verdict'] = verdict;
            if( lang.length > 0 ) params['lang'] = lang;
            c = $.param(params);
            if( c.length > 0 ) c = '?' + c;
            window.location = base_url + c;
        });
    </script>
{% endblock content %}

