{% extends "base/base.html" %}

{% set active_page = 'Contest' %}

{% block extra_head %}
    <script type="text/javascript" src="{{ static('/katex/dist/katex.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('/katex/dist/contrib/auto-render.min.js') }}"></script>
    <link rel="stylesheet" href="{{ static('/katex/dist/katex.min.css') }}"/>
    <script type="text/javascript" src="{{ static('/markdown/dist/marked.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('/vue/dist/vue.js') }}"></script>
    <script type="text/javascript" src="{{ static('/vue/dist/vue-router.js') }}"></script>
    <script type="text/javascript" src="{{ static('/vue/dist/vuex.js') }}"></script>
{% endblock extra_head %}

{% block content %}

<h1 style='text-align:center'> {{ contest.title }} </h1>
<div class="ui indicating progress" id='runtime-progress'>
    <div class="bar">
        <div class="progress"></div>
    </div>
    <div class="label" style='font-size:16px;margin-top:10px;'>
        <i class='{{ conteststatus.value.icon }}' style='color:{{ conteststatus.value.color }};'></i>
        <span style='color:{{ conteststatus.value.color }};'>
            <b>{{ conteststatus.value.full }}</b>
            <span id='time-show'></span>
        </span>
    </div>
</div>

<div id = "contest-app">


    <div class="ui top attached tabular menu">
        <router-link to="/overview" class = 'item' active-class = 'active'  >Contest</router-link>
        <router-link to="/bar" class = 'item' active-class = 'active' >Admin</router-link>
    </div>

    <div v-if='loading' class = 'ui segment' style = 'min-height:300px'>
        <div class="ui active inverted dimmer">
            <div class="ui active text loader" >Loading</div>
        </div>
    </div>
    
    <router-view style = 'margin-top:20px;' ></router-view>

</div>

<script>
    var start_time = new Date('{{ contest.start_time }}');
    var end_time = new Date('{{ contest.end_time}}');
    function get_progress_text() {
        let c = Math.abs(cur);
        let hour = Math.floor(c / 3600); c %= 3600;
        let min = Math.floor(c / 60); c %= 60;
        let smin = String(min);
        let sc = String(c);
        if (smin.length < 2) smin = "0" + smin;
        if (sc.length < 2) sc = "0" + sc;
        return " ( " + String(hour) + ":" + smin + ":" + sc + " )";
    }
    var total = parseInt({{ (contest.end_time - contest.start_time).total_seconds() }});
    var cur = parseInt({{ (now - contest.start_time).total_seconds() }});
    var base = cur;
    $('#runtime-progress').progress({
        total: total,
        onSuccess: function () {
            // if (base < total)
            // location.reload();
        },
    });
    function UpdateTimer() {
        $('#runtime-progress').progress('update progress', cur++);
        cur = Math.min(cur, total);
        if (cur == 0) {
            location.reload();
            return;
        }
        $('#time-show').text(get_progress_text());
        if (cur < total)
            setTimeout("UpdateTimer()", 1000);
    }
    UpdateTimer();
</script>

<script>

    const store = new Vuex.Store({
        state: {
            loading: false
        },
        mutations: {
            set_loading_state(state , st) {
                state.loading = st;
            },
        },
        actions:{
            set_loading_state(state, st) {
                state.commit("set_loading_state", st);
            }
        },
    });

</script>

<script>
    const Overview = Vue.extend({
        template: `
            <div>
                <div v-if='error' class = 'ui compact negative message'>
                <div class = 'header'> Some errors occured, Please refresh. </div>
                <ul class = 'list'>
                    <li> {{ error_msg }} </li>
                </ul>
                </div>
            </div>
        `,
        data: function () {
            return {
                running: false,
                error: false,
                error_msg: ''
            }
        },
        created() {
            fetch('{{ url( "contest-overview" , args = ( contest.pk , ) ) }}')
                .then(response => {
                    store.dispatch('set_loading_state', false);
                    return response.json()
                } )
                .catch(error => {
                    this.error_msg = String(error);
                    this.error = true;
                })
                .then(response => {


                })
        },
    });

</script>


<script>
    const Bar = { template: '<div>bar</div>' }

    const router = new VueRouter({
        routes:[
            { path: '/overview', component: Overview },
            { path: '/bar', component: Bar  }
        ],
    });

    router.beforeEach((to, from, next) => {
        store.dispatch('set_loading_state' , false );
        next();
    });

    router.afterEach((to, from) => {
        store.dispatch('set_loading_state', true);
    });

    const contestApp = new Vue({
        store,
        computed: {
            loading() {
                return store.state.loading;
            }
        },
        router: router
    }).$mount('#contest-app');

</script>

{% endblock content %}