<div style = 'margin-top:20px;' >
    <table class = "ui basic fixed padded table bordered" style = 'text-align:center;' >
        <thread>
            <tr>
                <th> ID </th>
                <th> Title </th>
                <th> Accepted / Submit </th>
                <th> Ratio </th>
                {% if user_problem_analysis %}
                    <th> Status </th>
                {% endif %}
            </tr>
        </thread>
        <tbody>
            {% for each in prob %}
                <tr>
                    <td> {{ loop.index0 | I2S }} </td>
                    <td>
                        <a href = 'javascript:void(0)' onclick = "Problem_Detail.request( {{ loop.index0 }} )" data-url = '{{ url( 'contest-problem' , args = ( contest.pk , loop.index0 ) ) }}' >
                            {{ each.title }} 
                        </a>
                    </td>
                    <td> {{ contest_analysis[loop.index0][0] }} / {{ contest_analysis[loop.index0][1] }} </td>
                    {% if contest_analysis[loop.index0][1] == 0 %}
                        <td> 0.00% </td>
                    {% else %}
                        <td> {{ "%.2f" | format( contest_analysis[loop.index0][0] / contest_analysis[loop.index0][1] * 100 ) }} %</td>
                    {% endif %}
                    {% if user_problem_analysis %}
                        <td> 
                            {% if user_problem_analysis[ loop.index0 ] %}
                                <i class="green checkmark icon"></i>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table
    
</div>
