{% extends "base.html" %}

{% block extra_head %}
    {% load staticfiles %}
        <link href="{% static 'css/submission/status_list.css' %}" rel="stylesheet" />
{% endblock extra_head %}

{% block content %}
    <div class = 'status list'>

        <div class="ui pagination menu">
                <a class="icon item" href = {% url 'submission-status-list' 1 %} ><i class="angle double left icon"></i></a>
                {% for it in page_list %}
                    <a class="item" href = {% url 'submission-status-list' it %}  >{{it}}</a>
                {% endfor %}
                <a class="icon item" href = {% url 'submission-status-list' max_page %} ><i class="angle double right icon"></i></a>
        </div>

        <table class = "ui selectable padded table" >
            <thread>
                    <div class = 'status list menu'>
                        <tr>
                            <th class = 'ui one wide'>ID</th>
                            <th class = 'ui two wide'>User</th>                
                            <th class = 'ui two wide'>Problem</th>
                            <th class = 'ui two wide'>Verdict</th>
                            <th class = 'ui one wide'>Time</th>
                            <th class = 'ui one wide'>Memory</th>
                            <th class = 'ui one wide'>Language</th>
                            <th class = 'ui one wide'>Length</th>
                            <th class = 'ui two wide'>Submit Time</th>
                        </tr>
                    </div>
            </thread>
                <tbody>
                    {% for it in statuslist %}
                        <tr>
                            <td>{{it.submission_id}} </td>
                            <td>{{it.user.display_name}} </td>                
                            <td>{{it.problem.title}} </td>
                            <td>{{it.judge_status}} </td>
                            <td><i class = 'ui help icon'></i></td>
                            <td><i class = 'ui help icon'></i></td>
                            <td>{{it.language}}</td>  
                            <td>{{it.code | length}} B</td>  
                            <td>{{it.submit_time}}</td>  
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>
{% endblock content %}