{% extends "base/base.html" %}

{% block extra_head %}
    {# <script type="text/x-mathjax-config">MathJax.Hub.Config({showProcessingMessages: false,messageStyle: "none",extensions: ["tex2jax.js"],jax: ["input/TeX", "output/HTML-CSS"],tex2jax: {inlineMath:  [ ["$", "$"] ],displayMath: [ ["$$","$$"] ],skipTags: ['script', 'noscript', 'style', 'textarea', 'pre','code','a'],ignoreClass:"comment-content"},"HTML-CSS": {availableFonts: ["STIX","TeX"],}});MathJax.Hub.Queue(["Typeset",MathJax.Hub]);</script> #}
    {# <script type="text/javascript" src="{{ static('/mathjax/MathJax-2.7.4/MathJax.js') }}"></script> #}
    <script type="text/javascript" src="{{ static('/katex/dist/katex.min.js') }}"></script>    
    <script type="text/javascript" src="{{ static('/katex/dist/contrib/auto-render.min.js') }}"></script>
    <link rel="stylesheet" href="{{ static('/katex/dist/katex.min.css') }}"/>
    <script type="text/javascript" src="{{ static('/codemirror-5.37.0/dist/lib/codemirror.js') }}"></script>
    <link rel="stylesheet" href="{{ static('/codemirror-5.37.0/dist/lib/codemirror.css') }}"/>
    <script type="text/javascript" src="{{ static('/codemirror-5.37.0/dist/mode/clike/clike.js') }}"></script>
    <script type="text/javascript" src="{{ static('/codemirror-5.37.0/dist/mode/go/go.js') }}"></script>
    {# <script type="text/javascript" src="{{ static('/codemirror-5.37.0/dist/mode/rust/rust.js') }}"></script> #}
    <script type="text/javascript" src="{{ static('/codemirror-5.37.0/dist/mode/ruby/ruby.js') }}"></script>
    <script type="text/javascript" src="{{ static('/codemirror-5.37.0/dist/mode/python/python.js') }}"></script>
    <script type="text/javascript" src="{{ static('/codemirror-5.37.0/dist/keymap/sublime.js') }}"></script>
    <link href="{{ static('css/problem/problem_detail.css') }}" rel="stylesheet" />
    <script type="text/javascript" src="{{ static('/markdown/dist/marked.min.js') }}"></script>
{% endblock extra_head %}

{% block title %}
    <title> Lutece | {{prob.title}} </title>
{% endblock title %}

{% block content %}
    <div class = 'problem detail' style='font-family:"UbuntuMono-R"'>

        <div class = 'ui center aligned one wide grid'>
            <div class = 'row'>
                <div class = 'column'>
                    <h2> {{ prob.title }} </h2>
                </div>
            </div>
            <div>
                <div class = 'row'>
                    <div class = 'column' style='font-size:16px;'>
                        <div class = 'text'>Timelimit: {{ prob.time_limit }} Milliseconds </div>
                    </div>
                </div>
                <div class = 'row'>
                    <div class = 'column' style='font-size:16px;'>
                        <div class = 'text'>Memorylimit: {{ prob.memory_limit }} Megabytes </div>
                    </div>
                </div>
            </div>
            <div class = 'row'>
                <div class = 'column'>
                    <div class = 'menu'>
                        <div id = 'status-view-button' class = 'ui basic secondary button'><i class = 'signal icon'></i>Status</div>
                        <div id = 'summary-view-button' class = 'ui basic blue button'><i class = 'chart pie icon'></i>Summary</div>
                        {% if perms.problem.change_problem %}
                            <div id = 'edit-view-button' class = 'ui basic orange button'><i class = 'edit icon'></i><b>Edit</b></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class = 'ui one wide grid'>
            <div class = 'row'>
                <div class = 'column'>
                    <p class = "content" > {{ prob.content }} </p>
                </div>
            </div>
            <div class = 'row'>
                <div class = 'column'>
                    <h2 class= 'ui header'>Standard Input</h2>
                    <p class = 'content'>{{ prob.standard_input}}</p>
                </div>
            </div>
            <div class = 'row'>
                <div class = 'column'>
                    <h2 class= 'ui header'>Standard Output</h2>
                    <p class = 'content'>{{prob.standard_output}}</p>
                </div>
            </div>
            {% if prob.constraints | length > 0  %}
                <div class = 'row'>
                    <div class = 'column'>
                        <h2 class='ui header'> Constraints </h2>
                        <p class='content'>{{prob.constraints}}</p>
                    </div>
                </div>
            {% endif%}
        </div>

        <div class = 'ui two wide grid'>
            <div class = 'column'>
                <table class="ui table" >
                        <thead>
                            <tr>
                                <th> Input </th>
                                <th> Output </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for it in sample %}
                                <tr>
                                    <td style = 'vertical-align:top;' >{{it.input_content | nl2br}}</td>
                                    <td style = 'vertical-align:top;' >{{it.output_content | nl2br}}</td>
                                </tr>
                            {% endfor%}
                        </tbody>
                </table>
            </div>
        </div>

        <div class = 'ui one wide grid'>
            {% if  prob.note | length > 0  %}
                <div class = 'row'>
                    <div class = 'column'>
                        <h2 class='ui header'>Note</h2>
                        <p class='content'>{{prob.note}}</p>
                    </div>
                </div>
            {% endif %}

            {% if  prob.resource | length > 0  %}
                <div class = 'row'>
                    <div class = 'column'>
                        <h2 class='ui header'>Resource</h2>
                        <p class='content'>{{prob.resource}}</p>
                    </div>
                </div>
            {% endif %}

        </div>

        <div style = 'margin-top:10px;'>
            <div class = 'ui borderless menu'>
                <div class = 'header item' style = 'font-size:16px;' >Current Buffer</div>
                <div class="right menu">
                    <div class = 'item'>
                        <div id = "language-dropdown" class="ui selection dropdown">
                            <i class="dropdown icon"></i>
                            <input type="hidden" name="language">
                            <div class="text">{{ support_lang.0.value.info }}</div>
                            <div class="menu">
                                {% for it in support_lang %}
                                    <div class="item">{{it.value.info}}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class = 'ui segment'>
                <textarea class="form-control" id="code" name="code" ></textarea>
            </div>

            <div id = 'solution-submit-button' class = 'ui primary button' style = 'display:grid;'> Submit </div>

        </div>

    </div>

    <script>

        function get_codemirror( s ){
            {% for x in support_lang %}
                if( s == '{{x.value.info}}' )
                    return '{{x.value.codemirror}}';
            {% endfor %}
        }

        $(document).ready(function(){

            var sel = $('.problem.detail .content');
            for(let i = 0 ; i < sel.length ; ++ i){
                let obj = sel[i];
                obj.innerHTML = marked( $(obj).text() );
            }

            renderMathInElement(
                document.body,
                {
                    delimiters : [
                        {left: "$$", right: "$$", display: true},
                        {left: "$", right: "$", display: false},                    
                        {left: "\\[", right: "\\]", display: true},
                        {left: "\\(", right: "\\)", display: false}
                    ]
                });

            var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                mode: "{{ support_lang.0.value.codemirror }}",
                indentUnit : 4,
                lineNumbers: true,
                foldGutter: true,
                keyMap: 'sublime',
                tabindex : '0',
                matchBrackets: true,
            });

            $('#language-dropdown').dropdown({
                onChange:function( text , value ){
                    editor.setOption( 'mode' , get_codemirror( value ) );
                }
            });

            $('#status-view-button').click(function(){
                window.location = '{{ url("submission-status-list" , args = (1,) ) }}?title={{prob.title}}' ;
            });

            $('#summary-view-button').click(function(){
                alert( 'Coming soon' );
                // to do
            });

            {% if perms.problem.change_problem %}
                $('#edit-view-button').click(function(){
                    window.location = '{{ url("problem-edit-view" , args = (prob.problem_id,) ) }} ';
                });
            {% endif %}

            $('#solution-submit-button').click(function () {
                {% if user.is_authenticated == True %}
                    var code = editor.getValue();
                    var lang = $('#language-dropdown')[0].innerText;                    
                    $(this).addClass( 'loading disabled' );
                    var problemid = {{prob.problem_id}};
                    $.ajaxSetup({ data: { csrfmiddlewaretoken: '{{ csrf_token }}' },});
                    $.post(
                        '{{ url("submission-submit-solution") }}',
                        {
                            'problemid' : problemid,
                            'code' : code,
                            'language' : lang,
                        },
                        function(data,status){
                            if( status == 'success' ){
                                window.location = '/submission/status/detail/' + String( data.submission_id );
                            }
                        }
                    )
                {% else %}
                    $('.login.modal' ).modal( 'show' );
                {% endif %}
            });

        });
    </script>
{% endblock content %}