{% extends "base/base.html" %}

{% block extra_head %}
    <link href="{{ static('css/problem/problem_detail.css') }}" rel="stylesheet" />
    <script type="text/x-mathjax-config">MathJax.Hub.Config({showProcessingMessages: false,messageStyle: "none",extensions: ["tex2jax.js"],jax: ["input/TeX", "output/HTML-CSS"],tex2jax: {inlineMath:  [ ["$", "$"] ],displayMath: [ ["$$","$$"] ],skipTags: ['script', 'noscript', 'style', 'textarea', 'pre','code','a'],ignoreClass:"comment-content"},"HTML-CSS": {availableFonts: ["STIX","TeX"],}});MathJax.Hub.Queue(["Typeset",MathJax.Hub]);</script>
    <script type="text/javascript" src="{{ static('/mathjax/MathJax-2.7.4/MathJax.js') }}"></script>
{% endblock extra_head %}

{% block title %}
    <title> Lutece | {{prob.title}} </title>
{% endblock title %}

{% block content %}
    <div class = 'problem detail' style='font-family:"UbuntuMono-R"'>

        <div class = 'ui center aligned one wide grid'>
            <div class = 'row'>
                <div class = 'column'>
                    <h2> {{ prob.title }} </h2>
                </div>
            </div>
            <div>
                <div class = 'row'>
                    <div class = 'column' style='font-size:16px;'>
                        <div class = 'text'>Timelimit: {{ prob.time_limit }} Milliseconds </div>
                    </div>
                </div>
                <div class = 'row'>
                    <div class = 'column' style='font-size:16px;'>
                        <div class = 'text'>Memorylimit: {{ prob.memory_limit }} Megabytes </div>
                    </div>
                </div>
            </div>
            <div class = 'row'>
                <div class = 'column'>
                    <div class = 'menu'>
                        <div class = 'ui basic primary button'><i class = 'paper plane outline icon'></i>Submit</div>
                        <div class = 'ui basic secondary button'><i class = 'signal icon'></i>Status</div>
                        {% if perms.problem.change_problem %}
                            <div class = 'ui basic orange edit button'><i class = 'edit icon'></i><b>Edit</b></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class = 'ui one wide grid'>
            <div class = 'row'>
                <div class = 'column'>
                    <p class = 'content'> {{ prob.content_markdown | safe }} </p>
                </div>
            </div>
            <div class = 'row'>
                <div class = 'column'>
                    <h2 class= 'ui header'>Standard Input</h2>
                    <p class = 'content'>{{ prob.standard_input_markdown | safe }}</p>
                </div>
            </div>
            <div class = 'row'>
                <div class = 'column'>
                    <h2 class= 'ui header'>Standard Output</h2>
                    <p class = 'content'>{{prob.standard_output_markdown | safe }}</p>
                </div>
            </div>
            {% if  prob.constraints|length > 0  %}
                <div class = 'row'>
                    <div class = 'column'>
                        <h2 class='ui header'> Constraints </h2>
                        <p class='content'>{{prob.constraints_markdown | safe }}</p>
                    </div>
                </div>
            {% endif%}
        </div>

        <div class = 'ui two wide grid'>
            <div class = 'column'>
                <table class="ui table" >
                        <thead>
                            <tr>
                                <th> Input </th>
                                <th> Output </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for it in sample %}
                                <tr>
                                    <td>{{it.input_content}}</td>
                                    <td>{{it.output_content}}</td>
                                </tr>
                            {% endfor%}
                        </tbody>
                </table>
            </div>
        </div>

        <div class = 'ui one wide grid'>
            {% if  prob.note | length > 0  %}
                <div class = 'row'>
                    <div class = 'column'>
                        <h2 class='ui header'>Note</h2>
                        <p class='content'>{{prob.note}}</p>
                    </div>
                </div>
            {% endif %}

            {% if  prob.resource | length > 0  %}
                <div class = 'row'>
                    <div class = 'column'>
                        <h2 class='ui header'>Resource</h2>
                        <p class='content'>{{prob.resource}}</p>
                    </div>
                </div>
            {% endif %}
        </div>

        

            {# <div class = 'row'>
                <div class = 'column'>
                    <div class = 'container'>
                        <div class = 'ui segment'>
                            <div class = 'ui grid'>

                                <div class = 'row'>
                                    <div class = 'ten wide column grid' style = 'margin-top:12px;'>
                                        <div class = 'ui header'>Current Buffer</div>
                                    </div>

                                    <div class = 'three wide column'>
                                        <div id = "language-dropdown" class="ui fluid selection dropdown">
                                            <i class="dropdown icon"></i>
                                            <input type="hidden" name="language">
                                            <div class="text">{{ support_lang.0 }}</div>
                                            <div class="menu">
                                                {% for it in support_lang %}
                                                    <div class="item">{{it}}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="ui clearing divider"></div>

                                <div class = 'row'>
                                        das<br/>
                                        das<br/>
                                        sa
                                </div>

                            </div>



                        </div>


                    </div>
                </div>
            </div> #}


        
    </div>

    <script>

        $(document).ready(function(){
            $('#language-dropdown')
                .dropdown()
            ;

        });

        /*$(document).ready(function(){
            $('.ui.language.dropdown')
                .dropdown()
            ;

            $('.problem.detail > .summary > .menu > .submit').click(function () {
                '{% if user.is_authenticated == True %}'
                    $('#submit_modal').modal('show');
                '{% else %}'
                    $('.login.modal' ).modal( 'show' );
                '{% endif %}'
            });
    
            $('.problem.detail > .summary > .menu > .edit').click(function () {
                window.location = '{{ url("problem-edit-view" , args = (prob.problem_id,) ) }} ';
            });
    
            $('#code_submit_button > .button').click(function(){
                var code = $('#code_textarea')["0"].value;
                var lang = $("#languagelist")[0].innerText;
                //alert( "Submit code is " + code + " Lang is " + lang );
                $(this)
                    .addClass( 'loading disabled' )
                ;
                var problemid = '{{prob.problem_id}}';
                $.ajaxSetup({
                    data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
                });
                $.post(
                    '{{ url("submission-submit-solution") }}',
                    {
                        'problemid' : problemid,
                        'code' : code,
                        'language' : lang,
                    },
                    function(data,status){
                        if( status == 'success' ){
                            window.location = '/submission/status/detail/' + String( data.submission_id );
                        }
                    }
                )
            });                
        });
        */
    </script>
{% endblock content %}