{% extends "base/base.html" %}


{% block extra_head %}
    <link href="{{ static('css/problem/problem_edit.css') }}" rel="stylesheet" />
    <script type="text/x-mathjax-config">MathJax.Hub.Config({showProcessingMessages: false,messageStyle: "none",extensions: ["tex2jax.js"],jax: ["input/TeX", "output/HTML-CSS"],tex2jax: {inlineMath:  [ ["$", "$"] ],displayMath: [ ["$$","$$"] ],skipTags: ['script', 'noscript', 'style', 'textarea', 'pre','code','a'],ignoreClass:"comment-content"},"HTML-CSS": {availableFonts: ["STIX","TeX"],}});MathJax.Hub.Queue(["Typeset",MathJax.Hub]);</script>
    <script type="text/javascript" src="{{ static('/mathjax/MathJax-2.7.4/MathJax.js') }}"></script>
{% endblock extra_head %}

{% block title %}
    <title> Lutece | {{prob.title}} </title>
{% endblock title %}

{% block content %}
    <div class ='edit container'>
        <div class = 'ui grid'>

            <div class = 'row'>
                <div class = 'column aligned center'>
                    <h1 class="ui aligned center header">Problem {{ prob.problem_id }} </h1>
                </div>
            </div>

            <div class = 'row'>
                <div class = 'column'>
                    <div class="ui large label">Title</div>
                    <div class = 'ui fluid input'>
                        <input id = 'title-input' type = "text" value = '{{ prob.title }}' maxlength = "64">
                    </div>
                </div>
            </div>
            
            <div class = 'row'>
                <div class = 'four wide column'>
                    <div class="ui large label">Timelimit</div>
                    <div class = 'ui right labeled input'>
                        <input id = 'timelimit-input' type="number"  maxlength = "5" value = {{ prob.time_limit }} >
                        <div class="ui basic label">Milliseconds</div>
                    </div>
                </div>
                <div class = 'four wide column'>
                    <div class="ui large label">Memorylimit</div>
                    <div class = 'ui right labeled input'>
                        <input id = 'memorylimit-input' type="number" maxlength = "4" value = {{ prob.memory_limit }} >
                        <div class="ui basic label">Megabytes</div>
                    </div>
                </div>
            </div>

            <div class = 'row'>

                <div class = 'four wide column'>
                    <div class="ui large label">
                        Current Data:
                        <div id = 'case-number' class = 'detail'>{{ case_number }}</div>
                    </div>
                </div>


                <div class = 'four wide column'>
                    <div id = "visible-checkbox" class="ui toggle checkbox">
                        <input type="checkbox" tabindex="0" class="hidden">
                        <label> <b>Visible</b> </label>
                    </div>
                </div>
            </div>

            <div class = 'row'>
                <div class = 'column'>
                    <form>
                        <input type = "file" name = 'data' id = "__upload" style = 'display:none'>
                        <div id = 'upload-data-button' class = 'ui primary button' ><i class = 'upload icon'></i>Upload Data</div>
                    </form>
                </div>
            </div>

            <div class = 'row' id = 'upload-div' style = 'display:none'>
                <div class = 'column' >
                    <div class = "ui indicating progress" id = 'upload-progress' >
                        <div class="bar">
                            <div class="progress"></div>
                        </div>
                        <div class="label">Upload status</div>
                    </div>
                </div>
            </div>

            <div class = 'row' id = 'upload-error-div' style = 'display:none' >
                <div class = 'column'>
                    <div id = "upload-error-msg" class="ui negative message transition"></div>
                </div>
            </div>

            <div class = 'row'>
                <div class = 'column'>
                    
                    <div class="ui large label">Checker</div>
                    <div id = "checker-selection" class="ui fluid selection dropdown">
                        <i class="dropdown icon"></i>
                        <div class="submit language text">{{prob.checker}}</div>
                        <div class="menu">
                            {% for it in checker %}
                                <div class="item">{{it}}</div>
                            {% endfor %}
                        </div>
                    </div>


                </div>
            </div>

            <div class = 'row'>
                <div class = 'column'>
                    <div class = 'ui form'>
                        <div class="ui large label">Content</div>
                        <textarea style = 'width:100%;height:300px;' id = "content-textarea" >{{ prob.content }}</textarea>
                    </div>
                </div>
            </div>
            <div class = 'row'>
                <div class ='column'>
                    <div id = "content-textarea-render" class="ui render fluid container raised segment">
                        {{ prob.content_markdown | safe }}
                    </div>
                </div>
            </div>
            
            <div class = 'row'>
                <div class = 'column'>
                    <div class = 'ui form'>
                        <div class="ui large label">Standard Input</div>
                        <textarea style = 'width:100%;height:150px;' id = "standard_input-textarea">{{ prob.standard_input }}</textarea>
                    </div>
                </div>
            </div>
            <div class = 'row'>
                <div class = 'column'>
                    <div id = "standard_input-textarea-render" class="ui render fluid container raised segment">
                        {{ prob.standard_input_markdown | safe }}
                    </div>
                </div>
            </div>

            <div class = 'row'>
                <div class = 'column'>
                    <div class = 'ui form'>
                        <div class="ui large label">Standard Output</div>
                        <textarea style = 'width:100%;height:150px;' id = "standard_output-textarea">{{ prob.standard_output }}</textarea>
                    </div>
                </div>
            </div>
            <div class = 'row'>
                <div class = 'column'>
                    <div id = "standard_output-textarea-render" class="ui render fluid container raised segment">
                        {{ prob.standard_output_markdown | safe }}
                    </div>
                </div>
            </div>

            <div class = 'row'>
                <div class = 'column'>
                    <div class = 'ui form'>
                        <div class="ui large label">Constraints</div>
                        <textarea style = 'width:100%;height:150px;' id = "constraints-textarea">{{ prob.constraints }}</textarea>
                    </div>
                </div>
            </div>
            <div class = 'row'>
                <div class = 'column'>
                    <div id = "constraints-textarea-render" class="ui render fluid container raised segment">
                        {{ prob.constraints_markdown | safe }}
                    </div>
                </div>
            </div>

            <div class = 'row'>
                <div class = 'column'>
                    <div class="ui large label">Resource</div>
                    <div class = 'ui fluid input'>
                        <input id = "resource" type="text" value = {{ prob.resource }} maxlength = "200"  >
                    </div>
                </div>
            </div>

            <div class = 'row'>
                <div class = 'column'>
                    <div id = "form-error-msg" class="ui negative message transition hidden"></div>
                </div>
            </div>

            <div class = 'row'>
                <div class = 'column'>
                    <div id = "submit-form" class = 'ui primary button'>Submit</div>
                </div>
            </div>

        </div>
    </div>

    <script>

        $(document).ready(function(){

            $('#visible-checkbox').checkbox();

            '{%  if prob.visible == True %}'
                $('#visible-checkbox').checkbox( 'set checked' );
            '{% endif %}'

            $('#checker-selection').dropdown();

            $('#content-textarea')[0].addEventListener('input' , function(){
               $('#content-textarea-render')[0].innerText = $(this).val();
               MathJax.Hub.Queue(["Typeset",MathJax.Hub,"content-textarea-render"]);
            });

            $('#standard_input-textarea')[0].addEventListener('input' , function(){
                $('#standard_input-textarea-render')[0].innerText = $(this).val();
                MathJax.Hub.Queue(["Typeset",MathJax.Hub,"standard_input-textarea-render"]);
             });

             $('#standard_output-textarea')[0].addEventListener('input' , function(){
                $('#standard_output-textarea-render')[0].innerText = $(this).val();
                MathJax.Hub.Queue(["Typeset",MathJax.Hub,"standard_output-textarea-render"]);
             });

             $('#constraints-textarea')[0].addEventListener('input' , function(){
                $('#constraints-textarea-render')[0].innerText = $(this).val();
                MathJax.Hub.Queue(["Typeset",MathJax.Hub,"constraints-textarea-render"]);
             });

            function get_error_msgText( errlist ){
                errlist = eval( errlist );
                var ret = '';
                for(var i = 0 ; i < errlist.length ; ++ i)
                    ret = ret + '<li>' + errlist[i] + '</li>';
                return '<ul class=\"list\">' + ret + '</ul>';
            }

            $('#upload-data-button').click(function(){
                $('#__upload').click();
            });

            function progressHandlingFunction(e){
                if(e.lengthComputable){
                    $('#upload-progress').progress( 'set progress' , e.loaded );
                }
            }

            function upload_success(e){
                $("#upload-data-button").removeClass( 'disabled loading');
                if( e.status == false ){
                    alert( e.status );
                    $("#upload-data-button").removeClass( 'primary' );
                    $("#upload-data-button").addClass( 'red' );
                    $('#upload-error-div').css( 'display' , 'block' );
                    $('#upload-error-msg')
                        .empty()
                        .removeClass( 'hidden' )
                        .append(get_error_msgText( e.error_list ))
                    ;
                }else
                    $('#case-number')[0].innerText = e.case_number;
            }

            function upload_error(e){
                $("#upload-data-button").removeClass( 'disabled loading primary');
                $("#upload-data-button").addClass( 'disabled red');
                alert( 'Uploaded error' );
            }

            $('#__upload').on( 'change' , function(){
                var file = $('#__upload')[0].files[0];
                if( file.size > 100 * 1024 * 1024 ){
                    alert( "file too large" );
                    return;
                }
                var formData = new FormData();
                formData.append( 'data' , file );
                $.ajax({
                    url : '{{ url("problem-upload-data-view" , args = (prob.problem_id , ) ) }}',
                    async: true,
                    xhr: function() {  // custom xhr
                        $("#upload-data-button").removeClass( 'red' );
                        $("#upload-data-button").addClass( 'disabled loading primary')
                        $('#upload-error-div').css( 'display' , 'none' );
                        myXhr = $.ajaxSettings.xhr();
                        $('#upload-div').css( 'display' , 'block' );
                        $("#upload-progress").progress( 'set total' , file.size);
                        if(myXhr.upload){
                            myXhr.upload.addEventListener('progress',progressHandlingFunction, false);
                        }
                        return myXhr;
                    },
                    type : 'POST',
                    success:upload_success,
                    error:upload_error,
                    cache: false,
                    data : formData,
                    contentType: false,
                    processData: false
                });
            });

            $('#submit-form').click(function(){
                var title = $('#title-input').val();
                var timelimit = $('#timelimit-input').val();
                var memorylimit = $('#memorylimit-input').val();
                var checker = $("#checker-selection")[0].innerText.split(":")[0];
                var visible = $('#visible-checkbox').hasClass('checked');
                var content = $('#content-textarea').val();
                var standard_input = $('#standard_input-textarea').val();
                var standard_output = $('#standard_output-textarea').val();
                var constraints = $('#constraints-textarea').val();
                var resource = $('#resource').val();
                $(this)
                    .addClass( 'loading disabled' )
                ;
                $.ajaxSetup({
                    data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
                });
                $.post(
                    '{{ url("problem-update-view" , args = (prob.problem_id , ) ) }}',
                    {
                        'title' : title,
                        'timelimit' : timelimit,
                        'memorylimit' : memorylimit,
                        'checker' : checker,
                        'visible' : visible,
                        'content' : content,
                        'standard_input' : standard_input,
                        'standard_output' : standard_output,
                        'constraints' : constraints,
                        'resource' : resource,
                    },
                    function(data,status){
                        if( status == 'success'  && data.update_status == true ){
                            window.location = '{{ url("problem-detail-view" , args = ( prob.problem_id , ) )  }} ';
                        }else{
                            $('#submit-form')
                                .removeClass( 'loading disabled primary' )
                                .addClass('red')
                            ;
                            $('#form-error-msg')
                                .empty()
                                .removeClass( 'hidden' )
                                .append(get_error_msgText( data.error_list ))
                            ;
                        }
                    }
                )
            });
        });
    </script>
{% endblock content %}