{% extends "base/base.html" %}


{% block extra_head %}
    <link href="{{ static('css/problem/problem_list.css') }}" rel="stylesheet" />
{% endblock extra_head %}

{% block content%}

<div class = 'problem list'>

    {% if perms.problem.add_problem %}
        <div class = 'ui problem create modal' style = 'min-height:200px;min-width:300px;'>
            <div class = 'header' style = 'text-align:center;color:#2185d0;' > <i class = 'edit icon'></i> Create Problem </div>
            <div class = 'content'>
                <div data-tooltip = "Title" data-position="top left" class="ui fluid left icon input">
                    <i class = 'bookmark icon'> </i>
                    <input type ="text" id = 'title-info' maxlength = 64 placeholder="Title" >
                </div>
            </div>
            <div class="actions">
                <div class="ui positive right labeled icon button" id = 'create-problem-button'>
                    Submit
                    <i class="chevron right icon"></i>
                </div>
            </div>
            <div id = "form-error-msg" class="ui negative message transition hidden" ></div>
        </div>
    {% endif %}

    <div>

        <span class="ui pagination menu">

            <a class="icon item" href = {{ url('problem-list' , args = (1,) ) }} ><i class="angle double left icon"></i></a>
            {% for it in page_list %}
                {% if it == currentpage %}
                    <a class="active item" href = {{ url('problem-list' , args = (it,) ) }}  >{{it}}</a>
                {% else %}
                    <a class="item" href = {{ url('problem-list' , args = (it,) ) }}  >{{it}}</a>
                {% endif %}
            {% endfor %}
            <a class="icon item" href = {{ url('problem-list' , args = (max_page,) ) }} ><i class="angle double right icon"></i></a>

        </span>


        {% if perms.problem.add_problem %}
            <span style = 'float:right;margin-left:15px;'>
                <div id = 'new-button' class = 'ui primary button'><b>New</b></div>
            </span>
        {% endif %}

        <span class="ui search" style = 'float:right;'>
            <div class="ui left icon input" >
                <input class="prompt" type="text" placeholder="Problem">
                <i class="search icon"></i>
            </div>
        </span>

    </div>

    <table class = "ui basic fixed selectable padded table bordered" >
        <thread>
            <tr>
                <th>ID</th>
                <th>Title</th>
                {% if user.is_authenticated == True %}
                    <th>Status</th>
                {% endif %}
                <th>Submit / Accept</th>
                <th>Ratio</th>
            </tr>
        </thread>
        <tbody>
                {% for it in problist %}
                <tr>
                    <td>{{it.problem_id}} </td>
                    <td><a href = {{ url('problem-detail' , args = (it.problem_id,) ) }} >{{it.title}} </a> </td>
                    {% if user.is_authenticated == True %}
                        <td>
                            {% if user_analysis[ loop.index0 ] == 2 %}
                                <i class="green checkmark icon"></i>
                            {% elif user_analysis[ loop.index0 ] == 1 %}
                                 <i class = 'red times icon'> </i>
                            {% endif %}
                        </td>
                    {% endif %}
                    <td>{{ it.accept }} / {{ it.submit }} </td>
                    {% if it.submit == 0 %}
                        <td> 0.00% </td>
                    {% else %}
                        <td> {{ "%.2f" | format( it.accept / it.submit * 100 ) }} %</td>
                    {% endif %}
                </tr>
                {% endfor %}
        </tbody>
    </table>
    
</div>

<script>

    {% if perms.problem.add_problem %}
        $('#new-button').click(function(){
            $('.ui.problem.create.modal').modal({
                onApprove : function() {
                    return false;
                }
            });
            $('.ui.problem.create.modal')
                .modal('setting', 'transition', 'vertical flip')
                .modal('show')
            ;
        })

        $('#create-problem-button').click(function(){
            var title = $('#title-info').val();
            $(this)
                .addClass( 'loading disabled' )
            ;
            $.ajaxSetup({
                data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
            $.post(
                '{{ url("problem-create-check") }}',
                {
                    'title' : title,
                },
                function(data,status){
                    if( status == 'success'  && data.status == true ){
                        window.location = get_prefix_url('{{ url("problem-edit" , args = (1,) ) }}' , 1 ) + '/' + String( data.problem_id );
                    }else{
                        $('#create-problem-button')
                            .removeClass( 'loading disabled positive' )
                            .addClass('red')
                        ;
                        $('#form-error-msg')
                            .empty()
                            .removeClass( 'hidden' )
                            .append(get_error_msgText( data.error_list ))
                        ;
                    }
                }
            )
        })
    {% endif %}

    $('.problem.list .ui.search')
        .search({
            apiSettings: {
                url: get_prefix_url('{{ url("problem-search" , args = (1,) ) }}' , 1 ) + "/{query}"
            },
            fields: {
                results : 'items',
                title   : 'title',
                url     : 'html_url'
            },
            minCharacters : 2
        })
    ;
</script>
{% endblock %}