{% extends "base/base.html" %}

{% block extra_head %}
    <script type="text/javascript" src="{{ static('/katex/dist/katex.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('/katex/dist/contrib/auto-render.min.js') }}"></script>
    <link rel="stylesheet" href="{{ static('/katex/dist/katex.min.css') }}"/>
    <script type="text/javascript" src="{{ static('/markdown/dist/marked.min.js') }}"></script>    
{% endblock extra_head %}

{% block content %}
    <div class = 'contest detail'>
        <div class = 'ui one column grid'>

            <div class = 'column'>
                <h1 style = 'text-align:center'> {{ contest.title }} </h1>
            </div>

            <div class = 'column'>
                <div class = "ui indicating progress" id = 'runtime-progress' >
                    <div class = "bar">
                        <div class="progress"></div>
                    </div>
                    <div class = "label" style = 'font-size:16px;' >
                        <i class = '{{ conteststatus.value.icon }}' style = 'color:{{ conteststatus.value.color }};' ></i> <span style = 'color:{{ conteststatus.value.color }};'><b>{{ conteststatus.value.full }}</b><span id = 'time-show' ></span></span>
                    </div>
                </div>
            </div>

            <div class = 'column'>

            </div>

        </div>
    </div>

    <script>
        var start_time = new Date('{{ contest.start_time }}');
        var end_time = new Date('{{ contest.end_time}}' );

        function get_progress_text(){
            let c = $('#runtime-progress').progress( 'get value' );
            let hour =  Math.floor(c / 3600); c %= 3600;
            let min = Math.floor(c / 60); c %= 60;
            let smin = String( min );
            let sc = String( c );
            if( smin.length < 2 ) smin = "0" + smin;
            if( sc.length < 2 ) sc = "0" + sc;
            return " ( " + String( hour ) + ":" + smin + ":" + sc + " )";
        }
        var total = parseInt({{ (contest.end_time - contest.start_time).total_seconds() }});
        var cur = parseInt({{ (now - contest.start_time).total_seconds() }});
        $('#runtime-progress').progress({
            total : total,
            onSuccess: function(){
                if( cur < total )
                    location.reload();
            },
        });
        function UpdateTimer(){
            $('#runtime-progress').progress( 'set progress' , cur ++ );
            if( cur == 0 ) location.reload();
            setTimeout( "UpdateTimer()" , 1000 );
            if( cur >  0 )
                $('#time-show').text( get_progress_text() );
        }
        UpdateTimer();
    </script>
{% endblock content %}