{% extends "base/base.html" %}

{% if perms.contest.add_contest %}
    {% block extra_head %}
        <link href="{{ static('semantic/dist/calendar/calendar.min.css') }}" rel="stylesheet" />
        <script type="text/javascript" src="{{ static('semantic/dist/calendar/calendar.min.js') }}"></script>
    {% endblock extra_head %}
{% endif %}

{% block content %}

    {% if perms.contest.add_contest %}
        <div class = 'ui contest create modal' style = 'min-height:200px;min-width:300px;'>
            <div class = 'header' style = 'text-align:center;color:#2185d0;' > <i class = 'edit icon'></i> Create Contest </div>
            <div class = 'content'>

                <div data-tooltip = "Title" data-position="top left" class="ui fluid left icon input">
                    <i class = 'bookmark icon'> </i>
                    <input type ="text" id = 'title-info' maxlength = 64 placeholder="Title" >
                </div>

                <div data-tooltip = "ContestType" data-position="top left" class="ui fluid selection dropdown" style = 'margin-top:15px;'id = 'contest-type'>
                    <input type = "hidden" value = '{{ contesttypelist.0.value.full }}'>
                    <i class="dropdown icon"></i>
                    <i class = 'university icon'></i>
                    <div class="text">{{ contesttypelist.0.value.full }}</div>
                    <div class="menu">
                        {% for each in contesttypelist %}
                            <div class = 'item' >{{ each.value.full }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div data-tooltip = "Start Time" data-position="top left" class="ui calendar" style = 'margin-top:15px;' id = 'start-time' >
                    <div class="ui fluid input left icon">
                        <i class = 'calendar icon'> </i>
                        <input type="text" placeholder='Start time' >
                    </div>
                </div>

                <div data-tooltip = "End Time" data-position="top left" class="ui calendar" style = 'margin-top:15px;' id = 'end-time' >
                    <div class="ui fluid input left icon">
                        <i class = 'calendar icon'> </i>
                        <input type="text" placeholder='End time' >
                    </div>
                </div>

            </div>
            
            <div class="actions">
                <div class="ui positive right labeled icon button" id = 'create-contest-button'>
                    Submit
                    <i class="chevron right icon"></i>
                </div>
            </div>

            <div id = "form-error-msg" class="ui negative message transition hidden"  ></div>
        </div>
    {% endif %}

    <div class = 'contest list'>

        <div>
            <span class="ui pagination menu">
                <a class="icon item" href = {{ url('contest-list' , args = (1,) ) }} ><i class="angle double left icon"></i></a>
                {% for it in page_list %}
                    {% if it == currentpage %}
                        <a class="active item" href = {{ url('contest-list' , args = (it,) ) }}  >{{it}}</a>
                    {% else %}
                        <a class="item" href = {{ url('contest-list' , args = (it,) ) }}  >{{it}}</a>
                    {% endif %}
                {% endfor %}
                <a class="icon item" href = {{ url('contest-list' , args = (max_page,) ) }} ><i class="angle double right icon"></i></a>
            </span>
            {% if perms.contest.add_contest %}
                <span style = 'float:right;margin-left:15px;'>
                    <div id = 'new-button' class = 'ui primary button'><b>New</b></div>
                </span>
            {% endif %}

            <span class="ui search" style = 'float:right;'>
                <div class="ui left icon input" >
                    <input class="prompt" type="text" placeholder="Contest">
                    <i class="search icon"></i>
                </div>
            </span>

        </div>

        <table class = "ui padded table" style='text-align:center;'>
            <thread>
                <tr>
                    <th style = 'width:10%;'>ID</th>
                    <th style = 'width:50%;'>Title</th>
                    <th style = 'width:10%;'>Starttime</th>
                    <th style = 'width:10%;'>Length</th>
                    <th style = 'width:10%;'>Status</th>
                </tr>
            </thread>
            <tbody>
                    {% for it in contestlist %}
                        <tr>
                            <td>{{it.pk}} </td>
                            <td>
                                <a href = {{ url('contest-detail' , args = (it.pk,) ) }} >
                                    <b>{{it.title}}</b>
                                </a> 
                            </td>
                            <td>{{ it.start_time }} </td>
                            <td> {{ (it.end_time - it.start_time) | timedeltaformat }} </td>
                            <td>
                                <i class = '{{ conteststatus[loop.index0].value.icon }}' style = 'color:{{ conteststatus[loop.index0].value.color }};'></i> <span style = 'color:{{ conteststatus[loop.index0].value.color }};'><b>{{ conteststatus[loop.index0].value.full }}</b></span>
                            </td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        {% if perms.contest.add_contest %}
            $('.contest.create .ui.dropdown').dropdown();

            $('#new-button').click(function(){
                $('.ui.contest.create.modal').modal({
                    onApprove : function() {
                        return false;
                    }
                });
                $('.ui.contest.create.modal')
                    .modal('setting', 'transition', 'vertical flip')
                    .modal('show')
                ;
                $('#start-time,#end-time').calendar();
            })

            $('#create-contest-button').click(function(){
                function transfor( date ){
                    let year = date.getFullYear();
                    let moth = date.getMonth() + 1;
                    let day = date.getDate();
                    let hour = date.getHours();
                    let min = date.getMinutes();
                    let sr = year + '-' + moth + '-' + day + '-' + hour + '-' + min;
                    return sr;
                }

                var title = $('#title-info').val();
                var start_time = $('#start-time').calendar( 'get date' );
                var end_time = $('#end-time').calendar( 'get date' );
                var type = $('#contest-type')[0].innerText;
                var pwd = $('#contest-pwd').val();
                if( start_time == null ){
                    alert( 'Please Select start time' );
                    return;
                }else if( end_time == null ){
                    alert( 'Please Select end time' );
                    return;
                }
                $(this)
                    .addClass( 'loading disabled' )
                ;
                $.post(
                    '{{ url("contest-create") }}',
                    {
                        'csrfmiddlewaretoken' : '{{ csrf_token }}',
                        'title' : title,
                        'start_time' : transfor( start_time ),
                        'end_time' : transfor( end_time ),
                        'type' : type,
                    },
                    function(data,status){
                        if( status == 'success' && data.status == true ){
                            window.location = window.location = get_prefix_url('{{ url("contest-edit" , args = (1,) ) }}' , 1 ) + '/' + String( data.contest_id );
                        }else{
                            $('#create-contest-button')
                                .removeClass( 'loading disabled positive' )
                                .addClass('red')
                            ;
                            $('#form-error-msg')
                                .empty()
                                .removeClass( 'hidden' )
                                .append(get_error_msgText( data.error_list ))
                            ;
                        }
                    }
                )
            })
        {% endif %}
    </script>

{% endblock content %}