<div class = 'contest rank' style = 'margin-top:20px;' >
    <div class = 'ui small primary button' onclick = 'Rank_List.refresh()'  ><i class = 'sync icon'></i> Refresh </div>
    <div style = 'overflow:auto;display:block'>
        <table class="ui celled padded striped table" style = 'width:auto:'>
            <thread>
                <tr style = 'text-align:center;'>
                    <th style = 'width:4em;'>Rank</th>
                    <th style = 'width:16em;' >Who</th>
                    <th style = 'width:4em;' >Solved</th>
                    <th style = 'width:6em;' >Penalty</th>
                    {% for each in problem_num %}
                        <th style = 'width:8em;' >
                            <a href = 'javascript:void(0);' onclick = 'Problem_Detail.request( {{ loop.index0 }} )' > {{ loop.index0 | I2S }} </a>
                        </th>
                    {% endfor %}
                </tr>
            </thread>
            <tbody>
                {% for each in rank %}
                    <tr style = 'text-align:center' >
                        <td> {{ loop.index }} </td>
                        <td> <a href = "{{ url('user-detail' , args=( each.user.pk , ) ) }}"> {{ each.user.display_name }} </a> </td>
                        <td> {{ each.solvednumber }} </td>
                        <td> {{ each.penalty }} </td>
                        {% set problem_set = each.analysis %}
                        {% for each_problem in problem_set %}
                            <td>
                                {% if each_problem.try_times > 0 %}
                                    {% set tr = each_problem.try_times %}
                                    {% if each_problem.solved == true %}
                                        {% set tr = tr - 1 %}
                                        <div 
                                            {% if each_problem.firstblood == true %}
                                                style = 'color:green;'
                                            {% else %}
                                                style = 'color:#21ba45;'
                                            {% endif %}
                                        >
                                            {% if each_problem.firstblood == true %}
                                                <i class = 'thumbs up outline icon'></i>
                                            {% else %}
                                                <i class = 'check icon'></i>
                                            {% endif %}
                                            {% if tr > 0 %}
                                                <b>(-{{tr}})</b>
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <div style = 'color:red'>
                                            <i class = 'times icon'></i>
                                            <b>(-{{tr}})</b>
                                        </div>
                                    {% endif %}
                                    {% if each_problem.solved == true %}
                                        <div> {{ each_problem.first_solve_timedelta }} </div>
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>