{% extends "base/base.html" %}

{% block extra_head %}
    <link href="{{ static('css/contest/contest_edit.css') }}" rel="stylesheet" />
    <script type="text/javascript" src="{{ static('/katex/dist/katex.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('/katex/dist/contrib/auto-render.min.js') }}"></script>
    <link rel="stylesheet" href="{{ static('/katex/dist/katex.min.css') }}"/>
    <script type="text/javascript" src="{{ static('/markdown/dist/marked.min.js') }}"></script>        
    <link href="{{ static('semantic/dist/calendar/calendar.min.css') }}" rel="stylesheet" />
    <script type="text/javascript" src="{{ static('semantic/dist/calendar/calendar.min.js') }}"></script>
{% endblock extra_head %}

{% block content %}

    <div class = 'contest edit'>
        <div class = 'ui grid'>

            <div class = 'row'>
                <div class = 'column'>
                    <h1 class="ui aligned center header">Contest {{ contest.pk }} </h1>
                </div>
            </div>

            <div class = 'row'>
                <div class = 'column'>
                    <div class="ui large label">Title</div>
                    <div class = 'ui fluid input'>
                        <input id = 'title-input' type = "text" value = '{{ contest.title }}' maxlength = "64">
                    </div>
                </div>
            </div>

            <div class = 'row'>
                <div class = 'column'>
                    <div>
                        <label class="ui large label">ContestType</label>
                    </div>
                    <div class="ui fluid selection dropdown" id = 'contest-type'>
                        <input type = "hidden" value = '{{ contest.contest_type }}'>
                        <i class="dropdown icon"></i>
                        <i class = 'university icon'></i>
                        <div class="text">{{ contest.contest_type }}</div>
                        <div class="menu">
                            {% for each in contesttypelist %}
                                <div class = 'item' >{{ each.value.full }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class = 'row'>
                <div class = 'column'>
                    <label class="ui large label">StartTime</label>
                    <div class="ui calendar" id = 'start-time' >
                        <div class="ui fluid input left icon">
                            <i class = 'calendar icon'> </i>
                            <input type="text" placeholder='Start time' >
                        </div>
                    </div>
                </div>
            </div>

            <div class = 'row'>
                <div class = 'column'>
                    <label class="ui large label">EndTime</label>
                    <div class="ui calendar" id = 'end-time' >
                        <div class="ui fluid input left icon">
                            <i class = 'calendar icon'> </i>
                            <input type="text" placeholder='End time' >
                        </div>
                    </div>
                </div>
            </div>


            <div class = 'row'>
                <div class = 'column'>
                    <label class="ui large label">Password</label>
                    <div data-tooltip = "Live blank will make the contest public" data-position="top left" class="ui left icon fluid password input">
                        <i class="lock icon"></i>
                        <input id = "contest-pwd" type="password" name="password" placeholder="Password" value = '{{ contest.password }}'  maxlength = 32 >
                    </div>
                </div>
            </div>

            <div class = 'row'>
                <div class = 'column'>
                    <div id = "visible-checkbox" class="ui toggle checkbox">
                        <input type="checkbox" tabindex="0" class="hidden">
                        <label> <b>Visible</b> </label>
                    </div>
                </div>
            </div>

            <div class = 'row'>
                <div class = 'column'>
                    <div id = "register-checkbox" class="ui toggle checkbox">
                        <input type="checkbox" tabindex="0" class="hidden">
                        <label> <b>Register</b> </label>
                    </div>
                </div>
            </div>

            <h4 class="ui horizontal divider header"> <i class="tag icon"></i> Contest Problem </h4>
                <div class = 'row'>
                    <div class = 'column'>
                        <table class = "ui basic fixed padded table bordered raised segment">
                            <thread>
                                <tr>
                                    <th style = 'width:5%;'>
                                        <a href = "javascript:void(0);" onclick="AddProblem()" >
                                            <i class = 'add icon'></i>
                                        </a>
                                    </th>
                                    <th style = 'width:15%;' >ID </th>
                                    <th style = 'width:80%' >Title</th>
                                </tr>
                            </thread>
                            <tbody>
                                {% for each in prob %}
                                    <tr>
                                        <td>
                                            <a href = 'javascript:void(0)' onclick='$(this).parent().parent().remove()' ><i class = 'delete icon' ></i></a>
                                        </td>
                                        <td>
                                            <div class = 'ui input'>
                                                <input class = 'contest problem input' oninput = 'UpdateTitle(this)' type="number" value = '{{ each.pk }}' >
                                            </div>
                                        </td>
                                        <td>{{ each.title }}</td>
                                    </tr>     
                                {% endfor %}
                                <tr style = 'display:none;' id = 'problem-table-template' >
                                    <td>
                                        <a href = 'javascript:void(0)' onclick='$(this).parent().parent().remove()' ><i class = 'delete icon' ></i></a>
                                    </td>
                                    <td>
                                        <div class = 'ui input'>
                                            <input class = 'contest problem input' oninput = 'UpdateTitle(this)' type="number">
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            <div class="ui divider"></div>

            <div class = 'row'>
                <div class = 'eight wide column'>
                    <div class = 'ui form'>
                        <div class="ui large label">Note</div>
                        <textarea style = 'width:100%;height:200px;' id = "note-textarea">{{ contest.note }}</textarea>
                    </div>
                </div>
                <div class = 'eight wide column'>
                    <div class="ui large label">Note Preview</div>
                    <div id = "note-textarea-render" style = 'width:100%;height:auto;min-height:200px;margin-top:0;' class="ui render fluid container raised segment"></div>
                </div>
            </div>

            <div class = 'row'>
                <div class = 'column'>
                    <div id = "submit-form" class = 'ui primary button' style = 'display:block;' >Submit</div>
                </div>
            </div>

            <div class = 'row'>
                <div class = 'column'>
                    <div id = "form-error-msg" class="ui negative message transition hidden"  ></div>
                </div>
            </div>


        </div>

    </div>

    <script>

        function AddProblem(){
            let s = $('#problem-table-template').clone( false );
            s.removeAttr( 'id' );
            s.css( 'display' , 'table-row' );
            $('#problem-table-template').before( s );
        }

        function UpdateTitle( ele ){
            let v = $(ele).val();
            let c = $($(($(ele).parent().parent())[0]).next()[0]);
            if( v.length == 0 ){
                c.text("");
                return;
            }
            c.html( '<i class ="notched circle loading icon"></i>' );
            let f = c.text();
            $.get(
                get_prefix_url('{{ url("problem-query-title" , args = (1,) ) }}' , 1 ) + "/" + String( v ),
                function(data,status){
                    if( status == 'success' && data.status == true ){
                        c.html( data.title );
                    }else
                        c.html( 'No such problem' );
                }
            )
        }

        Pewview( 'note-textarea' , 'note-textarea-render' );
        renderMathInElement(
            document.body,
            {
                delimiters : [
                    {left: "$$", right: "$$", display: true},
                    {left: "$", right: "$", display: false},                    
                    {left: "\\[", right: "\\]", display: true},
                    {left: "\\(", right: "\\)", display: false}
                ]
        });
        $('#visible-checkbox').checkbox();
        $('#register-checkbox').checkbox();
        {%  if contest.visible == True %}
            $('#visible-checkbox').checkbox( 'set checked' );
        {% endif %}
        {%  if contest.register == True %}
            $('#register-checkbox').checkbox( 'set checked' );
        {% endif %}
        $('#contest-type').dropdown();
        $('#start-time,#end-time').calendar();
        let base_start_time = new Date('{{ contest.start_time }}');
        let base_end_time = new Date( '{{ contest.end_time}}');
        $('#start-time').calendar( 'set date' , base_start_time );
        $('#end-time').calendar( 'set date' , base_end_time );        
        $('#submit-form').click(function(){
            function transfor( date ){
                let year = date.getFullYear();
                let moth = date.getMonth() + 1;
                let day = date.getDate();
                let hour = date.getHours();
                let min = date.getMinutes();
                let sr = year + '-' + moth + '-' + day + '-' + hour + '-' + min;
                return sr;
            }
            let title = $('#title-input').val();
            let type = $('#contest-type')[0].innerText;
            let start_time = $('#start-time').calendar( 'get date' );
            let end_time = $('#end-time').calendar( 'get date' );
            let password = $('#contest-pwd').val();
            let visible = $('#visible-checkbox').hasClass('checked');
            let register = $('#register-checkbox').hasClass( 'checked' );
            let note = $('#note-textarea').val();
            let prob = $('.contest.edit .contest.problem.input:visible');
            let prob_li = new Array();
            for( let i = 0 ; i < prob.length ; ++ i){
                let obj = $(prob[i]);
                prob_li.push( obj.val() );
            }
            if( start_time == null ){
                alert( 'Please Select start time' );
                return;
            }else if( end_time == null ){
                alert( 'Please Select end time' );
                return;
            }
            $(this)
                .addClass( 'loading disabled' )
            ;
            $.ajaxSetup({
                data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
            $.post(
                '{{ url("contest-update" , args = (contest.pk, ) ) }}',
                {
                    'title' : title,
                    'start_time' : transfor( start_time ),
                    'end_time' : transfor( end_time ),
                    'type' : type,
                    'password' : password,
                    'visible' : visible,
                    'register' : register,
                    'note' : note,
                    'prob' : JSON.stringify(prob_li)
                },
                function(data,status){
                    if( status == 'success' && data.status == true ){
                        window.location = '{{ url( "contest-detail" , args = (contest.pk,) ) }} '
                    }else{
                        $('#submit-form')
                            .removeClass( 'loading disabled positive' )
                            .addClass('red')
                        ;
                        $('#form-error-msg')
                            .empty()
                            .removeClass( 'hidden' )
                            .append(get_error_msgText( data.error_list ))
                        ;
                    }
                }
            )
        })
    </script>
{% endblock content %}