{% extends "base/base.html" %}

{% block content %}
    <div class = 'home'>
        <div class="ui inverted vertical masthead center aligned segment" style = 'min-height:700px'>
            <div class="ui text container">
                <h1 class="ui inverted header" style = 'margin-top:3em;margin-bottom:0em;font-size:4em;' > Lutece </h1>
                <h2>Meet the future <i class = 'small cog icon'></i></h2>
                <div class = 'ui container'>
                    <div id = 'start-button' class = "ui huge primary button" style = 'margin-top:1em;'><i class = 'play icon'></i>Started</a></div>
                    <a href = 'https://github.com/LaPluses/Lutece' style = 'color:grey;' ><div id = 'github-button' class = "ui huge button" style = 'margin-top:1em;'><i class="github icon"></i>GitHub</div></a>
                </div>
            </div>
        </div>

        {# <div class = 'ui grid' style = 'margin-top:15px;'>
            <div class = 'eight wide column'>
                <div style = 'width:80%;'>
                    <div>
                        <div class="ui attached message">
                            <div class="header">Announcements </div>
                        </div>
                        <div class="ui attached segment"></div>
                    </div>
                </div>
            </div>

            <div class = 'eight wide column'>
                <div style = 'width:60%;float:right;'>
                    <div>
                        <div class="ui attached message">
                            <div class="header">Top Solved</div>
                        </div>
                        <table class="ui attached celled padded striped table">
                            <thread>
                                <tr style = 'text-align:center;'>
                                    <th style = 'width:2em;'>#</th>
                                    <th style = 'width:8em;'>User</th>
                                </tr>
                            </thread>
                        </table>
                    </div>

                    <div style = 'margin-top:20px;'>
                        <div class="ui attached message">
                            <div class="header">Recently Discussion</div>
                        </div>
                        <div class="ui attached segment"></div>
                    </div>


                </div>
            </div>
        </div> #}


    </div>
    {# <div class = 'home'>
        <div class="ui inverted vertical masthead center aligned segment" style = 'min-height:700px'>
            <div class="ui text container">
                <h1 class="ui inverted header" style = 'margin-top:3em;margin-bottom:0em;font-size:4em;' > Lutece </h1>
                <h2>Meet the future <i class = 'small cog icon'></i></h2>
                <div class = 'ui container'>
                    <div id = 'start-button' class = "ui huge primary button" style = 'margin-top:1em;'><i class = 'play icon'></i>Started</a></div>
                    <a href = 'https://github.com/LaPluses/Lutece' style = 'color:grey;' ><div id = 'github-button' class = "ui huge button" style = 'margin-top:1em;'><i class="github icon"></i>GitHub</div></a>
                </div>
            </div>
        </div>
    </div>

    <script>

        $('#start-button').click(function(){
            {% if user.is_authenticated == True %}
                window.location = '{{ url("problem-list" , args = (1,) ) }} ';
            {% else %}
                $('.login.modal' ).modal( 'show' );
            {% endif %}
        });

    </script> #}
{% endblock content %}