from .settings import * 


# Set database , mysql or postgresql
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'Lutece.db',
    }
}

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',  # default as localhost
        'PORT': '',  # default as 3306
    }
}

CORS_ORIGIN_ALLOW_ALL = False
DEBUG = False
SECRET_KEY = ''# set the key
#CSRF_COOKIE_SECURE = True
#SESSION_COOKIE_SECURE = True
#SECURE_CONTENT_TYPE_NOSNIFF = True
#SECURE_BROWSER_XSS_FILTER = True
#SECURE_SSL_REDIRECT = True
#X_FRAME_OPTIONS = 'DENY'
#SECURE_HSTS_SECONDS = 1 # set one number
#SECURE_HSTS_INCLUDE_SUBDOMAINS = True
#SECURE_HSTS_PRELOAD = True
ALLOWED_HOSTS = ['*']

# set judge config
JUDGE_AUTH_KEY = b'666' # set the auth key


rabbitmq_ip = '127.0.0.1'
rabbitmq_port = '5672'
rabbitmq_user = 'task_user'
rabbitmq_pwd = '' # set rabbitmq-server password
rabbitmq_vhost = 'judger_host'

# do not change this
TASK_QUEUE = 'task'
RESULT_QUEUE = 'result'