aioredis==1.2.0
amqp==2.4.2
aniso8601==3.0.2
asgiref==2.3.2
async-timeout==3.0.1
attrs==19.1.0
autobahn==19.2.1
Automat==0.7.0
backcall==0.1.0
billiard==3.5.0.5
celery==4.2.1
channels==2.1.7
channels-redis==2.3.3
constantly==15.1.0
coverage==4.5.3
daphne==2.2.5
decorator==4.3.2
Django==2.1.7
django-annoying==0.10.4
django-cors-headers==2.5.2
django-environ==0.4.5
django-extensions==2.1.6
django-graphql-jwt==0.2.1
django-gravatar2==1.4.2
django-js-asset==1.2.2
django-uuslug==1.1.8
graphene==2.1.3
graphene-django==2.2.0
graphene-file-upload==1.2.2
graphql-core==2.1
graphql-relay==0.4.5
gunicorn==19.9.0
hiredis==1.0.0
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
ipython==7.3.0
ipython-genutils==0.2.0
jedi==0.13.3
kombu==4.4.0
msgpack==0.6.1
mysqlclient==1.4.2.post1
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
promise==2.2.1
prompt-toolkit==2.0.9
ptyprocess==0.6.0
Pygments==2.3.1
PyHamcrest==1.9.0
pyhumps==1.2.2
PyJWT==1.7.1
python-slugify==3.0.0
pytz==2018.9
Rx==1.6.1
singledispatch==3.4.0.3
six==1.12.0
text-unidecode==1.2
traitlets==4.3.2
Twisted==18.9.0
txaio==18.8.1
typing==3.6.6
Unidecode==1.0.23
vine==1.2.0
wcwidth==0.1.7
zope.interface==4.6.0
