appdirs==1.4.3
btrfsutil==1.0.0
CacheControl==0.12.5
chardet==3.0.4
colorama==0.4.0
cupshelpers==1.0
distlib==0.2.8
distro==1.3.0
docopt==0.6.2
html5lib==1.0.1
idna==2.7
Jade-Application-Kit==1.3.5
keyutils==0.5
lockfile==0.12.2
louis==3.7.0
msgpack==0.5.6
npyscreen==4.10.5
packaging==18.0
pacman-mirrors==4.12.5
Pillow==5.3.0
progress==1.4
pycairo==1.17.0
pycups==1.9.74
pycurl==7.43.0.2
PyGObject==3.30.1
pyparsing==2.2.2
PyQt5==5.11.3
PyQt5-sip==4.19.13
pysmbc==1.0.15.8
python-libtorrent==1.1.10
pytoml==0.1.19
PyYAML==3.13
reportlab==3.5.9
requests==2.20.0
retrying==1.3.3
shadowsocks==2.9.1
sip==4.19.13
six==1.11.0
team==1.0
udiskie==1.7.5
urllib3==1.24
virtualenv==16.0.0
webencodings==0.5.1
